<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="about-this-guide" xml:lang="de">

  <info>
    <link type="guide" xref="more-help"/>
    <desc>Einige Tipps, wie Sie die Hilfe zur Arbeitsumgebung verwenden können.</desc>
    <credit type="author">
      <name>GNOME-Dokumentationsprojekt</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hendrik Knackstedt</mal:name>
      <mal:email>hendrik.knackstedt@t-online.de</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wolfgang Stöggl</mal:name>
      <mal:email>c72578@yahoo.de</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011-2013, 2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018-2024</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2011-2024</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Philipp Kiemle</mal:name>
      <mal:email>philipp.kiemle@gmail.com</mal:email>
      <mal:years>2021, 2023</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jürgen Benvenuti</mal:name>
      <mal:email>gastornis@posteo.org</mal:email>
      <mal:years>2022-2024.</mal:years>
    </mal:credit>
  </info>

<title>Info zu diesem Handbuch</title>
<p>Dieses Handbuch wurde mit dem Ziel erstellt, die wesentlichen Funktionsmerkmale Ihrer Arbeitsumgebung zu erklären, Ihre technischen Fragen zu beantworten und Tipps zu geben, wie Sie Ihren Rechner noch effektiver nutzen können. Wir haben versucht, dieses Handbuch so einfach verwendbar wie möglich zu gestalten:</p>

<list>
  <item><p>Die Anleitung ist in kleine, aufgabenorientierte Themen unterteilt – nicht etwa in Kapitel. Das bedeutet, dass Sie nicht einen ganzen Wälzer durchblättern müssen, um Antworten auf Ihre Fragen zu bekommen.</p></item>
  <item><p>Verwandte Einträge sind miteinander verknüpft. »Siehe auch«-Verweise am Ende mancher Seiten führen Sie direkt zu verwandten Themen. Das erleichtert es, ähnliche Themen zu finden, die dabei helfen könnten, eine bestimmte Aufgabe zu erfüllen.</p></item>
  <item><p>Die Anleitung enthält eine eingebaute Suche. Die Leiste oben im Hilfebrowser ist eine <em>Suchleiste</em>, in der relevante Ergebnisse aufscheinen, sobald Sie zu tippen beginnen.</p></item>
  <item><p>Das Handbuch wird fortlaufend verbessert. Und obwohl wir versuchen, Ihnen umfassende und hilfreiche Information zu bieten, wissen wir auch, dass wir hier nicht alle Ihre Fragen beantworten werden. Wenn Sie weitere Unterstützung benötigen, können Sie sich an das Hilfe-Team Ihrer Distribution wenden.</p></item>
</list>

</page>
