<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="backup-check" xml:lang="de">

  <info>
    <link type="guide" xref="files#backup"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>GNOME-Dokumentationsprojekt</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>David King</name>
      <email>davidk@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Überprüfen Sie, ob Ihre Sicherung erfolgreich war.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hendrik Knackstedt</mal:name>
      <mal:email>hendrik.knackstedt@t-online.de</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wolfgang Stöggl</mal:name>
      <mal:email>c72578@yahoo.de</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011-2013, 2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018-2024</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2011-2024</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Philipp Kiemle</mal:name>
      <mal:email>philipp.kiemle@gmail.com</mal:email>
      <mal:years>2021, 2023</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jürgen Benvenuti</mal:name>
      <mal:email>gastornis@posteo.org</mal:email>
      <mal:years>2022-2024.</mal:years>
    </mal:credit>
  </info>

  <title>Ihre Sicherung überprüfen</title>

  <p>Nachdem Sie Ihre Dateien gesichert haben, sollten Sie sicherstellen, dass die Datensicherung erfolgreich war. Falls nicht alles reibungslos funktioniert hat, könnten Sie wichtige Daten verlieren, weil diese nicht in die Datensicherung einbezogen wurden.</p>

   <p>Wenn Sie <app>Dateien</app> zum Kopieren oder Verschieben von Dateien verwenden, überprüft der Rechner, ob alle Daten korrekt übertragen wurden. Wenn Sie jedoch für Sie besonders wichtige Daten übertragen, sollten Sie zusätzlich prüfen, ob die Übertragung ordnungsgemäß war.</p>

  <p>Sie können eine zusätzliche Überprüfung durchführen, indem Sie die kopierten Dateien und Ordner auf den Zieldatenträgern untersuchen. Indem Sie sicherstellen, dass es sich bei den übertragenen Dateien tatsächlich um jene aus der Datensicherung handelt, haben Sie zusätzliche Sicherheit, dass die Übertragung erfolgreich war.</p>

  <note style="tip"><p>Wenn Sie regelmäßig größere Datenmengen sichern, könnte es einfacher sein, ein spezielles Datensicherungsprogramm zu verwenden, wie beispielsweise <app>Déjà Dup</app>. Ein solches Programm ist leistungsfähiger und zuverlässiger als das bloße Kopieren und Einfügen von Dateien.</p></note>

</page>
