<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="overrides" xml:lang="hr">

  <info>
    <link type="guide" xref="setup"/>
    <revision pkgversion="3.30" date="2019-02-08" status="review"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Petr Kovar</name>
      <email>pknbe@volny.cz</email>
      <years>2019</years>
    </credit>

    <desc>GSettings zaobilaženja koriste distribucije za prilagodbu zadanih postavki.</desc>
   </info>

  <title>Zašto se ne bi trebala koristiti GSettings zaobilaženja?</title>

  <p>GSettings zaobilaženja koriste distribucije kako bi prilagodile zadane postavke za GNOME radnu površinu i aplikacije. dconf zaobilaženja dizajnirana su za administratore sustava kako bi prilagodili zadane postavke i postavili obavezne postavke za GNOME radnu površinu i aplikacije.</p>

  <section id="what-are-vendor-overrides">
  <title>Što su zaobilaženja proizvođača?</title>

   <p>Zadane vrijednosti definirane su u shemama koje instalira aplikacija. Ponekada je potrebno da proizvođač ili distributer prilagodi te zadane vrijednosti.</p>

   <p>Budući da je krpanje XML izvora za shemu nezgodno i podložno greškama, <link its:translate="no" href="man:glib-compile-schemas">
   <sys>glib-compile-schemas</sys></link> čita takozvane datoteke <em>zaobilaženja proizvođača</em>. To su datoteke ključeva u istom direktoriju kao i izvori XML sheme, koje mogu zaobići zadane vrijednosti.</p>

  </section>

</page>
