<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="software" xml:lang="hr">

  <info>
    <link type="guide" xref="index"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="extensions">Proširenja GNOME ljuske</link>, <link xref="mime-types">MIME vrste</link>, <link xref="mime-types-application">zaobilaženje zadanih aplikacija</link>…</desc>

  </info>

  <title>Softver</title>

<!--<section id="application">
  <title>Application</title>
  <links style="2column" type="topic"/>
</section>-->

<section id="extension">
  <title>Proširenja</title>
  <links style="2column" type="topic"/>
</section>

<section id="management">
  <title>Upravljanje</title>
  <links style="2column" type="topic"/>
</section>

</page>
