<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task a11y" id="a11y-bouncekeys" xml:lang="gl">

  <info>
    <link type="guide" xref="a11y#mobility" group="keyboard"/>
    <link type="guide" xref="keyboard" group="a11y"/>

    <revision pkgversion="3.8.0" date="2013-03-13" status="candidate"/>
    <revision pkgversion="3.9.92" date="2013-09-18" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.29" date="2018-09-05" status="review"/>
    <revision pkgversion="3.33.3" date="2019-07-21" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <desc>Ignorar pulsacións rápidas da mesma tecla.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Diéguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2024</mal:years>
    </mal:credit>
  </info>

  <title>Activar o rexeite de teclas</title>

  <p>Active o <em>rexeite de teclas</em> para ignorar as pulsacións de teclas repetidas rapidamente. Por exemplo, se ten tremores de mans que poden facer que pulse varias veces cando só quere pulsar unha, entón debería activar o rexeite de teclas.</p>

  <steps>
    <item>
      <p>Abra a vista de <gui xref="shell-introduction#activities">Actividades</gui> e comece a escribir <gui>Accesibilidade</gui>.</p>
    </item>
    <item>
      <p>Prema en <gui>Accesibilidade</gui> para abrir o panel.</p>
    </item>
    <item>
      <p>Seleccione a sección <gui>Escritura</gui> para abrila.</p>
    </item>
    <item>
      <p>Na sección <gui>Asistencia de escritura</gui>, active <gui>Rexeite de teclas</gui>.</p>
    </item>
  </steps>

  <note style="tip">
    <title>Activar e desactivar rapidamente o rexeite de teclas</title>
    <p>Pode activar e desactivar o rexeite de teclas de forma rápida premendo na <link xref="a11y-icon">icona de accesibilidade</link> desde a barra superior e seleccionando <gui>Rexeite de teclas</gui>. A tecla de accesibilidade é visíbel cando unha ou máis configuracións se activen desde o panel de <gui>Accesibilidade</gui>.</p>
  </note>

  <p>Use o deslizador <gui>Retardo de aceptación</gui> para cambiar o tempo que debe esperar o rexeite de teclas antes de rexistrar outra tecla premida despois da premida no primeiro lugar. Seleccione <gui>Pitar ao rexeitar unha tecla</gui> se quere que o equipo emita un son cada vez que ignora unha tecla porque a pulsación produciuse demasiado pronto despois da pulsación da tecla anterior.</p>

</page>
