<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="backup-what" xml:lang="gl">

  <info>
    <link type="guide" xref="backup-why"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>Proxecto de documentación de GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Facer unha copia de seguranza para que vostede non perda nada se algo vai mal.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Diéguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2024</mal:years>
    </mal:credit>
  </info>

  <title>Formas de facer unha copia de seguranza</title>

  <p>A prioridade debe ser respaldar os seus <link xref="backup-thinkabout">ficheiros máis importantes</link> así como os que non poida recrear con facilidade. Por exemplo, ordenado de maior a menor importancia:</p>

<terms>
 <item>
  <title>Os seus ficheiros persoais</title>
   <p>Isto pode incluír documentos, follas de calculo, correo electrónico, apuntamentos no calendario, datos financeiros, fotos familiares, calquera cousa que faga e que é importante para vostede.</p>
 </item>

 <item>
  <title>As súas configuracións persoais</title>
   <p>Isto inclúe os cambios que fixeran nas cores, fondo, resolución de pantalla e preferencias do rato no seu escritorio. Isto inclúe as preferencias das aplicacións, como as preferencias de <app>LibreOffice</app>, o seu reprodutor de música e o seu programa de correo electrónico. Estes pódense substituír pero pode levar un bo rato volvelos a crear.</p>
 </item>

 <item>
  <title>Configuracións do sistema</title>
   <p>A maioría das persoas nunca cambian as preferencias que se crean durante a instalación. Se se personaliza a súa configuración do sistema, ou se usa o seu computador como un servidor, entón é posíbel que queira facer unha copia de seguranza desta configuración.</p>
 </item>

 <item>
  <title>Software instalado</title>
   <p>O software que usa pode normalmente restaurarse de forma sinxela despois dun problema serio no seu computador, reinstalándoo.</p>
 </item>
</terms>

  <p>En xeral, debe facer unha copia de respaldo dos ficheiros que son irremprazábeis e dos ficheiros que requiren investir bastante tempo para substituílos sen unha copia de seguranza. Se todo resulta fácil de substituír, quizais non desexe usar espazo en disco facendo copias de respaldo deles.</p>

</page>
