<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="color" xml:lang="gl">
  <info>
    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <title type="link" role="trail">Cor</title>
    <desc>Calibrar os perfiles de cor en pantallas, impresoras e outros dispositivos.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Diéguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2024</mal:years>
    </mal:credit>
  </info>

  <title>Xestión de cor</title>

  <section id="profiles" style="2column">
    <title>Perfiles de cor</title>
  </section>

  <section id="calibration" style="2column">
    <title>Calibración</title>
  </section>

  <section id="problems" style="2column">
    <title>Problemas</title>
  </section>

</page>
