<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing-booklet" xml:lang="gl">

  <info>
    <link type="guide" xref="printing#paper"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Como imprimir un pasquín plegado, multipáxina usando un papel de tamaño A4 ou Carta.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Diéguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2024</mal:years>
    </mal:credit>
  </info>

  <title>Imprimir un pasquín</title>

  <p>Para imprimir un pasquín.</p>

  <p>Se ten que imprimir un pasquín desde un documento de <app>LibreOffice</app>, primeiro expórteo a PDF escollendo <guiseq><gui>Ficheiro</gui><gui>Exportar como PDF…</gui></guiseq>. As páxinas do seu documento precisan ser un múltiplo de 4 (4, 8, 12, 16,…). Polo que podería ter que engadir 3 páxinas en branco.</p>

  <p>Se o número de páxinas do seu documento PDF non é múltiplo de 4, debe engadir o número de páxinas en branco axeitado (1, 2 ou 3) para que sexa múltiplo de 4. Para facelo, pode:</p>

  <steps>
    <item>
      <p>Cree un documento de <app>LibreOffice</app> co número de páxinas en branco (1-3) que precise.</p>
    </item>
    <item>
      <p>No xestor de ficheiros, prema <guiseq><gui>Ficheiro</gui> <gui>Conectar ao servidor</gui></guiseq>.</p>
    </item>
    <item>
      <p>Combinar as páxinas en branco co seu documento PDF usando <app>PDF-Shuffler</app>, situando as páxinas en branco ao final.</p>
    </item>
  </steps>

  <p>Seleccione o tipo de impresora que usará para imprimir, da lista de máis embaixo:</p>

</page>
