<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="nautilus-bookmarks-edit" xml:lang="hi">

  <info>
    <link type="guide" xref="files#faq"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-09-30" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="review"/>
    <revision pkgversion="3.38" date="2020-10-16" status="review"/>
    <revision version="gnome:45" date="2024-03-03" status="review"/>

    <credit type="author">
      <name>टैफ्फिनी अंटोपोलस्की</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Add, delete, and rename bookmarks in the file manager.</desc>

  </info>

  <title>Edit folder bookmarks</title>

  <p>Your bookmarks are listed in the sidebar of the file manager.</p>

  <steps>
    <title>Add a bookmark:</title>
    <item>
      <p>Open the folder (or location) that you want to bookmark.</p>
    </item>
    <item>
      <p>Click the current folder in the path bar and then select
      <gui style="menuitem">Add to Bookmarks</gui>.</p>
      <note>
        <p>You can also drag a folder to the sidebar, and drop it
        over <gui>New bookmark</gui>, which appears dynamically.</p>
      </note>
    </item>
  </steps>

  <steps>
    <title>Delete a bookmark:</title>
    <item>
      <p>Right-click on the bookmark in the sidebar and select
      <gui>Remove from Bookmarks</gui> from the menu.</p>
    </item>
  </steps>

  <steps>
    <title>Rename a bookmark:</title>
    <item>
      <p>Right-click on the bookmark in the sidebar and select
      <gui>Rename</gui>.</p>
    </item>
    <item>
      <p>In the <gui>Name</gui> text box, type the new name for the
      bookmark.</p>
      <note>
        <p>Renaming a bookmark does not rename the folder. If you have
        bookmarks to two different folders in two different locations, but
        which each have the same name, the bookmarks will have the same name,
        and you won’t be able to tell them apart. In these cases, it is useful
        to give a bookmark a name other than the name of the folder it points
        to.</p>
      </note>
    </item>
  </steps>

</page>
