<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:uix="http://projectmallard.org/experimental/ui/" type="guide" style="task" id="prefs" xml:lang="pl">
  <info>

    <link type="guide" xref="index" group="prefs"/>
    <title role="trail" type="link">Ustawienia</title>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc>Od kontroli nad sprzętem do ustawień prywatności, GNOME może pracować dla Ciebie.</desc>
    <uix:thumb role="experimental-gnome-tiles" src="figures/tile-settings.svg"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2023</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2023</mal:years>
    </mal:credit>
  </info>

<title>Ustawienia użytkownika i systemu</title>
<links type="topic" style="experimental-gnome-tiles toronto"/>

</page>
