<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="problem" id="printing-paperjam" xml:lang="pl">

  <info>
    <link type="guide" xref="printing#problems"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Jim Campbell</name>
      <email>jcampbell@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Sposób usuwania zaciętego papieru zależy od producenta i modelu używanej drukarki.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2023</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2023</mal:years>
    </mal:credit>
  </info>

  <title>Usuwanie zaciętego papieru</title>

  <p>Czasami drukarki niepoprawnie podają kartki papieru, przez co ten się zacina.</p>

  <p>Instrukcja drukarki zwykle zawiera szczegółowe informacje o tym, jak usunąć zacięty papier. Zwykle należy otworzyć jeden z paneli drukarki, aby znaleźć w środku zator, a następnie mocno (ale ostrożnie!) wyciągnąć zacięty papier z mechanizmu podajnika drukarki.</p>

  <p>Po usunięciu zaciętego papieru można nacisnąć przycisk <em>Wznów</em> drukarki, aby zacząć znowu drukować. Niektóre drukarki wymagają wyłączenia i włączenia, a następnie rozpoczęcie zadania wydruku jeszcze raz.</p>

</page>
