<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-canshareprofiles" xml:lang="te">

  <info>
    <link type="guide" xref="color#calibration"/>
    <link type="seealso" xref="color-whatisprofile"/>
    <desc>హార్డువేర్ కాలక్రమీణా మారును కనుక రంగు ప్రొఫైల్స్ పంచుకొనుట ఎప్పుడూ మంచి ఆలోచన కాదు.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Praveen Illa</mal:name>
      <mal:email>mail2ipn@gmail.com</mal:email>
      <mal:years>2011, 2014. </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>కృష్ణబాబు క్రొత్తపల్లి</mal:name>
      <mal:email>kkrothap@redhat.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

  <title>నేను నా రంగు ప్రొఫైల్ పంచుకొనవచ్చా?</title>

  <p>మీరు మీ కొరకు సృష్టించిన రంగు ప్రొఫైల్స్ అనునది మీ హార్డువేర్ మరియు కాంతి పరిస్థితులకు తగినట్లు మీరు కాలిబ్రేట్ చేసినవి. కొన్ని వందల గంటల నుండి నడుస్తున్న ప్రదర్శన అనునది వేయి గంటల నుండి నడుస్తున్న దాని తరువాతి క్రమ సంఖ్య ప్రదర్శనతో పోల్చితే చాలా భిన్నమైన రంగు ప్రొఫైల్ కలిగివుంటుంది.</p>
  <p>
    This means if you share your color profile with somebody, you might
    be getting them <em>closer</em> to calibration, but it’s misleading
    at best to say that their display is calibrated.
  </p>
  <p>
    Similarly, unless everyone has recommended controlled lighting
    (no sunlight from windows, black walls, daylight bulbs etc.) in a
    room where viewing and editing images takes place, sharing a profile
    that you created in your own specific lighting conditions doesn’t make
    a lot of sense.
  </p>

  <note style="warning">
    <p>అమ్మకందారి వెబ్‌సైట్ల నుండి దింపుకొనిన ప్రొఫైళ్ళ కొరకు లేదా మీ తరుపున సృష్టించిన వాటి కొరకు తిరిగిపంపిణీచేయు నియమాలను మీరు జాగ్రత్తగా పరిశీలించాలి.</p>
  </note>

</page>
