<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="power-profile" xml:lang="te">

  <info>
    <link type="guide" xref="power#saving"/>
    <link type="seealso" xref="display-brightness"/>

    <revision version="gnome:40" date="2021-03-21" status="candidate"/>

    <credit type="author copyright">
      <name>మైకేల్ హిల్</name>
      <email>mdhillca@gmail.com</email>
      <years>2021</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Balance performance and battery usage.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Praveen Illa</mal:name>
      <mal:email>mail2ipn@gmail.com</mal:email>
      <mal:years>2011, 2014. </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>కృష్ణబాబు క్రొత్తపల్లి</mal:name>
      <mal:email>kkrothap@redhat.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

  <title>Choose a power profile</title>

  <p>You can manage power usage by choosing a <gui>Power Mode</gui>. There are
  three possible profiles:</p>
  
  <list>
    <item>
      <p><gui>Performance</gui>: High performance and power usage. This mode will only
      be visible if it is supported by your computer. It will be selectable if
      your computer is running on AC power. If your device supports lap
      detection, you will not be able to select this option if the device is
      running on someone's lap.</p>
    </item>
    <item>
      <p><gui>Balanced</gui>: Standard performance and power usage. This is the
      default setting.</p>
    </item>
    <item>
      <p><gui>Power Saver</gui>: Reduced performance and power usage. This setting
      maximizes battery life. It may enable some power saving options, such as
      aggressively dimming the screen, and prevent those from being switched off.</p>
    </item>
  </list>

  <steps>
    <title>To choose a power profile:</title>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui>
      overview and start typing <gui>Power</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Power</gui> to open the panel.</p>
    </item>
    <item>
      <p>In the <gui>Power Mode</gui> section, choose one of the profiles.</p>
    </item>
    
  </steps>

</page>
