<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="power-wireless" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="power"/>
    <link type="seealso" xref="power-batterylife"/>

    <revision pkgversion="3.20" date="2016-06-15" status="candidate"/>
    <revision pkgversion="3.33.3" date="2019-07-21" status="candidate"/>
    <revision version="gnome:40" date="2021-03-21" status="candidate"/>
    <revision version="gnome:41" date="2021-09-08" status="candidate"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2016</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>可以关闭蓝牙、Wi-Fi和移动宽带以减少电池的使用。</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>tuberry</mal:name>
      <mal:email>orzun@foxmail.com</mal:email>
      <mal:years>2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Victor_Trista</mal:name>
      <mal:email>ljlzjzm@hotmail.com</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>

  <title>关闭不使用的无线设备</title>

  <p>在不使用蓝牙、Wi-Fi 或移动宽带时，您可以通过关闭它们来减少电池电量的使用。</p>

  <steps>

    <item>
      <p>打开 <gui xref="shell-introduction#activities">活动</gui> 概览，然后分别输入<gui>Wi-Fi</gui> 或 <gui>蓝牙</gui>。</p>
    </item>
    <item>
      <p>分别点击 <gui>Wi-Fi</gui> 或 <gui>蓝牙</gui> 打开面板。</p>
    </item>
    <item>
      <p>在标题栏中，将未使用的服务切换为关闭。在需要时通过切换到打开重新启用。</p>
    </item>

  </steps>

</page>
