<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="accounts-disable-service" xml:lang="uk">

  <info>
    <link type="guide" xref="accounts"/>

    <revision pkgversion="3.5.5" date="2012-08-14" status="review"/>
    <revision pkgversion="3.13.92" date="2013-09-20" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Філ Булл (Phil Bull)</name>
      <email>philbull@gmail.com</email>
    </credit>
<credit type="editor">
      <name>Кляйн Кравіс (Klein Kravis)</name>
      <email>kleinkravis44@outlook.com</email>
      <years>2020</years>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Деякими обліковими записами в інтернеті можна користуватися для доступу до декількох служб (зокрема календаря і електронної пошти). Ви можете керувати, якими з цих служб зможуть користуватися програми.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Керування тим, які інтернет-служби облікового запису можна використовувати для доступу</title>

  <p>Для деяких типів облікових записів у мережі надавачі послуг надають доступ до декількох служб з одного облікового запису користувача. Наприклад, облікові записи Google надають доступ до календарів, електронної пошти та записів контактів. Ви можете скористатися вашим обліковим записом для доступу до деяких служб, але не усіх. Наприклад, ви можете захотіти скористатися вашим обліковим записом Google для роботи з електронною поштою, але не для даних календаря, якщо у вас є інший обліковий запис, яким ви хочете користуватися для даних календаря.</p>

  <p>Ви можете вимкнути деякі служби, які надаються кожним із облікових записів в інтернеті:</p>

  <steps>
    <item>
      <p>Відкрийте огляд <gui xref="shell-introduction#activities">Діяльності</gui> і почніть введення слів <gui>Облікові записи в інтернеті</gui>.</p>
    </item>
    <item>
      <p>Натисніть <gui>Облікові записи в інтернеті</gui>, щоб відкрити панель.</p>
    </item>
    <item>
      <p>Виберіть обліковий запис, до параметрів якого ви хочете внести зміни, зі списку, який розташовано праворуч.</p>
    </item>
    <item>
      <p>Список служб, які є доступними для цього облікового запису, буде показано під міткою <gui>Використовувати для</gui>. Щоб ознайомитися зі списком прив'язок програми до служб, зверніться до розділу <link xref="accounts-which-application"/>.</p>
    </item>
    <item>
      <p>Зніміть позначки з усіх пунктів служб, якими ви не хочете користуватися.</p>
    </item>
  </steps>

  <p>Щойно службу буде вимкнено для облікового запису, програми на вашому комп'ютері не зможуть скористатися обліковим записом для з'єднання з цією службою.</p>

  <p>Щоб увімкнути вимкнену вами службу, просто поверніться на панель <gui>Облікові записи в інтернеті</gui> і увімкніть службу.</p>

</page>
