<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-calibrationdevices" xml:lang="uk">

  <info>

    <link type="guide" xref="color#calibration"/>
    <revision pkgversion="40.3" date="2021-08-08" status="review"/>

    <desc>Нами передбачено підтримку широкого спектра пристроїв для калібрування.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Підтримку яких вимірювальних інструментів для кольорів передбачено?</title>

  <p>Для забезпечення підтримки інструментів для роботи з кольорами система покладається на систему керування кольорами Argyll. Список підтримуваних вимірювальних інструментів наведено на сторінці <link href="https://www.argyllcms.com/doc/instruments.html"/>.</p>

</page>
