<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="contacts-setup" xml:lang="uk">

  <info>
    <link type="guide" xref="contacts" group="#first"/>

    <revision pkgversion="3.5.5" date="2012-08-13" status="draft"/>
    <revision pkgversion="3.12" date="2014-02-26" status="final"/>
    <revision pkgversion="3.13.91" date="2014-09-05" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="review"/>
    <revision pkgversion="3.22" date="2017-03-19" status="draft"/>
    <revision pkgversion="3.38.0" date="2020-11-02" status="review"/>

    <credit type="author copyright">
      <name>Майкл Гілл (Michael Hill)</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    
    <credit type="author copyright">
      <name>Пол Катлер (Paul Cutler)</name>
      <email>pcutler@gnome.org</email>
      <years>2017</years>
    </credit>

    <credit type="editor">
      <name>Pranali Deshmukh</name>
      <email>pranali21293@gmail.com</email>
      <years>2020</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Зберігання ваших записів контактів у локальній адресній книзі або у даних облікового запису в інтернеті.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Перший запуск «Контактів»</title>

  <p>Після першого запуску програми <app>Контакти</app> буде відкрито вікно <gui>Виберіть адресну книгу</gui>.</p>
   
  <p>Якщо у вашій системі налаштовано <link xref="accounts">облікові записи в інтернеті</link>, їхній список буде показано у <gui>Локальній адресній книзі</gui>. Виберіть запис зі списку і натисніть кнопку <gui style="button">Завершено</gui>.</p>
  
  <p>Усі створені вами контакти буде збережено до вибраної вами адресної книги. Ви також зможете переглядати редагувати і вилучати записи контактів в інших адресних книгах.</p>
  
  <p>Якщо у вас немає налаштованих облікових записів в інтернеті, натисніть кнопку <gui style="button">Облікові записи в інтернеті</gui>, щоб розпочати налаштовування. Якщо ви не хочете налаштовувати облікові записи в інтернеті цього разу, натисніть кнопку <gui style="button">Локальна адресна книга</gui>.</p>

</page>
