<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="files-preview" xml:lang="uk">

  <info>
    <link type="guide" xref="files#common-file-tasks"/>
    <link type="seealso" xref="nautilus-preview"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-10-06" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Девід Кінг (David King)</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Швидкий показ і приховування попереднього перегляду документів, зображень, відео та інших файлів.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>Попередній перегляд вмісту файлів і тек</title>

<note if:test="platform:ubuntu" style="important">
  <p>Для виконання наведених нижче кроків дій у системі має бути встановлено програму <app>Sushi</app>.</p>
  <p its:locNote="Translators: This button is only shown on Ubuntu, where this   link format is preferred over 'install:gnome-sushi'."><link style="button" href="apt:gnome-sushi">Встановити <app>Sushi</app></link></p>
</note>

<p>Ви можете переглядати вміст файлів без їхнього відкриття у повноцінному переглядачі або редакторі. Позначте будь-який файл і натисніть клавішу пробілу. Файл буде відкрито у простому вікні попереднього перегляду. Натисніть клавішу пробілу ще раз, щоб закрити вікно попереднього перегляду.</p>

<p>У вбудованому переглядачі передбачено підтримку більшості форматів файлів документів, зображень, відео та звукових даних. У вікні попереднього перегляду ви можете гортати вміст ваших документів або змінювати позицію відтворення у файлах відео та звукових даних.</p>

<p>Щоб увімкнути режим повноекранного перегляду, натисніть клавішу <key>F</key> або <key>F11</key>. Натисніть клавішу <key>F</key> або <key>F11</key> ще раз, щоб вимкнути режим повноекранного перегляду, або натисніть клавішу пробілу, щоб повністю вийти з режиму попереднього перегляду вмісту.</p>

</page>
