<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="keyboard" xml:lang="uk">
  <info>

    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.8.0" date="2013-03-10" status="candidate"/>
    <revision version="gnome:46" status="candidate" date="2024-03-02"/>

    <desc>Вибір розкладок клавіатур інших мов і використання можливостей доступності клавіатури.</desc>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
       <name>Хуліта Інка (Julita Inca)</name>
       <email>yrazes@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Майкл Гілл (Michael Hill)</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>Клавіатура</title>

<links type="topic" groups="i18n" style="linklist">
  <title>Регіон та мова</title>
</links>

<links type="topic" groups="a11y" style="linklist">
  <title>Доступність</title>
</links>

<links type="topic" groups="#first #default #last" style="linklist">
  <title>Інші теми</title>
</links>

</page>
