<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="music-cantplay-drm" xml:lang="uk">
  <info>
    <link type="guide" xref="media#music"/>


    <credit type="author">
      <name>Проєкт з документування GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>Можливо, не встановлено бібліотеки підтримки відповідного формату файлів або композиції може бути «захищено від копіювання».</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>Неможливо відтворити композиції, які придбано у музичній інтернет-крамниці</title>

<p>Якщо вами отримано якісь музичні твори із інтернет-крамниці, може виявитися, що ви не можете відтворити їх на комп'ютері, особливо, якщо твори було придбано на комп'ютері під керуванням Windows або macOS, а потім скопійовано.</p>

<p>Причиною може бути те, що музичні дані записано у форматі, який не може розпізнати ваша система. Щоб мати змогу відтворити композицію, вам слід встановити пакунки підтримки належних форматів звукових даних. Наприклад, якщо ви хочете відтворювати файли MP3, має бути встановлено пакунки підтримки MP3. Якщо у системі не встановлено підтримки заданого формату звукових даних, ви маєте побачити повідомлення про це при спробі відтворення композиції. У повідомленні також має бути наведено настанови щодо того, як встановити підтримку відповідного формату для відтворення композиції.</p>

<p>Якщо у системі встановлено пакунки підтримки звукового формату композиції, але композицію попри це не вдається відтворити, композицію може бути <em>захищено від копіювання</em> (яку також називають <em>DRM-обмеженням</em>). DRM — спосіб обмеження кола користувачів, які можуть відтворювати композицію, або пристроїв, на яких можна відтворювати композиції. Керує цими обмеженнями компанія, яка продала вам композицію, але не ви. Якщо файл музичних даних має DRM-обмеження, ймовірно, ви не зможете його відтворити — вам, загалом, потрібне буде спеціалізоване програмне забезпечення від виробника для відтворення файлів із DRM-обмеженнями, але це програмне забезпечення часто не працює у Linux.</p>

<p>Більше про DRM можна дізнатися зі сторінки <link href="https://www.eff.org/issues/drm">Electronic Frontier Foundation</link>.</p>

</page>
