<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="power-othercountry" xml:lang="uk">

  <info>
    <link type="guide" xref="power#problems"/>
    <desc>Ваш комп'ютер працюватиме, але може знадобитися інший кабель живлення або портативний адаптер.</desc>

    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Проєкт з документування GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Філ Булл (Phil Bull)</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>Чи працюватиме комп'ютер від мережевого живлення у іншій країні?</title>

<p>У різних країнах напруга у мережі живлення є різною (зазвичай, 110 В або 220-240 В), так само, як є різною частота змінного струму (зазвичай, 50 Гц або 60 Гц). Ваш комп'ютер працюватиме із будь-якою мережею живлення у іншій країні, якщо у вас буде відповідний адаптер живлення. Також, можливо, доведеться перемкнути якийсь перемикач.</p>

<p>Якщо ви є власником ноутбука, усе, що вам слід зробити, це знайти належну вилку для вашого блоку живлення. Деякі ноутбуки постачаються із декількома вилками для адаптера живлення, тому, можливо, вона у вас уже є. Якщо такої вилки немає, достатнім може бути використання стандартного перехідника.</p>

<p>Якщо ви маєте справу із стаціонарним комп'ютером, ви також можете скористатися кабелем із іншим штекером або перехідником. Втім, у цьому випадку вам, можливо, доведеться перемкнути перемикач напруги на блоці живлення комп'ютера, якщо такий передбачено. На багатьох комп'ютерах такого перемикача немає — вони чудово працюють із будь-якою напругою. Подивіться на задню панель системного блоку і знайдіть гніздо, до якого вставляється кабель живлення. Десь поряд може бути невеличкий перемикач із позначкою «110V» або «230V» (наприклад). Перемкніть його у відповідний стан.</p>

<note style="warning">
  <p>Будьте обережним при зміні кабелів живлення або використанні перехідників. Перш ніж щось замінювати, вимкніть живлення.</p>
</note>

</page>
