<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="power-batteryslow" xml:lang="uk">

  <info>
    <link type="guide" xref="power#faq"/>
    <desc>Деякі ноутбуки значно уповільнюють роботу, якщо заряд акумулятора вичерпується.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.20" date="2016-06-15" status="final"/>

    <credit type="author">
      <name>Проєкт з документування GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Майкл Гілл (Michael Hill)</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

<title>Чому ноутбук працює повільно, коли живлення надходить від акумулятора?</title>

<p>Деякі ноутбуки навмисне уповільнюються при роботі від акумулятора з метою заощадження енергії. Процесор у ноутбуці перемикається на повільнішу швидкість, — процесори споживають менше енергії, якщо працюють повільніше, — тому заряду акумулятора вистачає на довший час.</p>

<p>Ця можливість має назву <em>масштабування частоти процесора</em>.</p>

</page>
