<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="problem" id="printing-paperjam" xml:lang="uk">

  <info>
    <link type="guide" xref="printing#problems"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Jim Campbell</name>
      <email>jcampbell@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Спосіб прибирання зам'ятого паперу залежить від виробника і моделі принтера, яким ви користуєтеся.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрій Чорноіван</mal:name>
      <mal:email>yurchor@ukr.net</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Прибирання зам'ятого паперу</title>

  <p>Іноді, принтери неправильно подають аркуш паперу і виникає зам'яття паперу.</p>

  <p>У підручнику з вашого принтера, зазвичай, наведено докладні настанови щодо того, як усунути зам'яття паперу. Типово, вам слід відкрити одну з панелей принтера, знайти край зам'ятого аркуша, а потім із силою (але обережно!) витягнути зам'ятий аркуш з механізму подачі принтера.</p>

  <p>Після витягування зам'ятого аркуша вам, можливо, слід буде натиснути кнопку <em>Відновити</em> принтера, щоб відновити друк. Для деяких принтерів доведеться вимкнути принтер і увімкнути його знову, потім перезапустити завдання з друку.</p>

</page>
