<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="contacts-search" xml:lang="eu">

  <info>
    <link type="guide" xref="contacts"/>

    <revision pkgversion="3.5.5" date="2012-08-13" status="review"/>
    <revision pkgversion="3.12" date="2014-02-26" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Bilatu kontaktu bat.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Asier Sarasua Garmendia</mal:name>
      <mal:email>asiersarasua@ni.eus</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>

<title>Bilatu kontaktu bat</title>

  <p>Lineako kontaktu bat bilatzeko, erabili bi modu hauetako bat:</p>

  <steps>
    <item>
      <p><gui>Jarduerak</gui> ikuspegi orokorrean, hasi kontaktuaren izena idazten.</p>
    </item>
    <item>
      <p>Bat datozen kontaktuak agertuko dira ikuspegi orokorrean, aplikazioen zerrendaren ordez.</p>
    </item>
    <item>
      <p>Press <key>Enter</key> to select the contact at the top of the list or
      click the contact that you want to select if they are not at the
      top.</p>
    </item>
  </steps>

  <p><app>Kontaktuak</app> aplikazio barruan bilaketak egiteko:</p>

  <steps>
    <item>
      <p>Egin klik bilaketa-eremuan.</p>
    </item>
    <item>
      <p>Hasi kontaktuaren izena idazten.</p>
    </item>
  </steps>

</page>
