<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing" xml:lang="eu">

  <info>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Set up local and network printers. Learn about different
    printing options like collation and multi-sided printing.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Asier Sarasua Garmendia</mal:name>
      <mal:email>asiersarasua@ni.eus</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>

<title>Inprimatzea</title>

<section id="setup" style="2column">
  <info>
    <title type="link" role="trail">Konfigurazioa</title>
  </info>
  <title>Konfiguratu inprimagailu bat</title>
</section>

<section id="paper" style="2column">
  <info>
    <title type="link" role="trail">Tamainak eta diseinuak</title>
  </info>
  <title>Paper-tamaina eta -diseinu desberdinak</title>
</section>

<section id="problems" style="2column">
  <info>
    <link type="guide" xref="hardware#problems"/>
    <desc>Undetected printers, paper jams, print-outs that look wrong…</desc>
  </info>
  <title>Inprimagailuaren arazoak</title>
</section>

</page>
