<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="gnome-version" xml:lang="hr">
  <info>
    <link type="guide" xref="tips"/>
    <revision version="3.14.2" date="2015-01-28" status="review"/>
    <revision version="gnome:46" status="review" date="2024-03-02"/>

    <credit type="author copyright">
      <name>Petr Kovar</name>
      <email>pknbe@volny.cz</email>
      <years>2015</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Kako otkriti koja inačica GNOMA je pokrenuta.</desc>
  </info>

  <title>Otkrivanje pokrenute inačice GNOMA</title>

  <p>Možete otkriti koja je inačica GNOMA pokrenuta na vašem sustavu tako da idete u panel <gui>O sustavu</gui> u <gui>Postavkama</gui>.</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui>
      overview and start typing <gui>System</gui>.</p>
    </item>
    <item>
     <p>Select <guiseq><gui>Settings</gui><gui>System</gui></guiseq> from the
     results. This will open the <gui>System</gui> panel.</p>
    </item>
    <item>
      <p>Select <gui>About</gui> to open the panel.</p>
    </item>
    <item>
      <p>Select <gui>System Details</gui>.</p>
    </item>
    <item>
      <p>Pojavit će se prozor s informacijama o vašem sustavu, uključujući naziv vaše distribucije i GNOME inačicu.</p>
    </item>
  </steps>

</page>
