<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="mouse-lefthanded" xml:lang="hr">

  <info>
    <link type="guide" xref="mouse"/>

    <revision pkgversion="3.8" date="2013-03-13" status="candidate"/>
    <revision pkgversion="3.10" date="2013-10-29" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.29" date="2018-08-21" status="review"/>
    <revision pkgversion="3.33" date="2019-07-20" status="candidate"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Zamjena lijeve i desne tipke miša u postavkama miša.</desc>
  </info>

  <title>Ljevoruko korištenje miša</title>

  <p>Možete zamijeniti ponašanje lijeve i desne tipke miša ili touchpada kako bi ga učinili ugodnijim za ljevoruko korištenje.</p>

  <steps>
    <item>
      <p>Otvorite <gui xref="shell-introduction#activities">Aktivnosti</gui> pregled i započnite upisivati <gui>Miš i touchpad</gui>.</p>
    </item>
    <item>
      <p>Kliknite na <gui>Miš i touchpad</gui> u bočnoj traci za otvaranje panela.</p>
    </item>
    <item>
      <p>U <gui>Općenito</gui> odjeljku, kod postavke <gui>Glavna tipka</gui> kliknite za zamjenu na <gui>Desno</gui> mogućnost.</p>
    </item>
  </steps>

  <note>
    <p>Ova postavka će utjecati na vaš miš i touchpad, kao i na bilo koji drugi pokazivački uređaj.</p>
  </note>

</page>
