<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="mouse-wakeup" xml:lang="hr">

  <info>
    <link type="guide" xref="mouse#problems"/>

    <revision pkgversion="3.8" date="2013-03-13" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
      <years>2011</years>
    </credit>
    <credit type="editor">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
      <years>2011</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhill@src.gnome.org</email>
      <years>2012</years>
    </credit>
    <credit type="author">
      <name>Jana Svarova</name>
      <email>jsvarova@redhat.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Ako morate pomaknuti ili kliknuti mišem da počne reagirati.</desc>
  </info>

  <title>Miš reagira s odgodom prije nego počne raditi</title>

  <p>Bežični i optički miševi, kao i touchpadovi na prijenosnicima, možda se moraju "probuditi" prije nego počnu raditi. Automatski idu u stanje mirovanja kada se ne koriste radi uštede energije baterije. Kako bi probudili miš ili touchpad, možete kliknuti tipku miša ili pomaknuti miš.</p>

</page>
