<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="problem" id="printing-paperjam" xml:lang="hr">

  <info>
    <link type="guide" xref="printing#problems"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Jim Campbell</name>
      <email>jcampbell@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Kako ukloniti zaglavljeni papir ovisi o proizvođaču i modelu pisača.</desc>
  </info>

  <title>Uklanjanje zaglavljenog papira</title>

  <p>Ponekada pisači nepravilno uvlače listove papira i papir se zaglavljuje.</p>

  <p>Priručnik za vaš pisač uobičajeno sadrži opširne upute o tome kako ukloniti zaglavljeni papir. Uobičajeno ćete morati otvoriti jednu od ladica pisača kako bi unutra pronašli zaglavljeni papir, a zatim čvrsto (ali oprezno!) izvući zaglavljeni papir iz mehanizma za uvlačenje papira.</p>

  <p>Nakon uklanjanja zaglavljenog papira možda ćete morati pritisnuti tipku <em>nastavi</em> na pisaču kako bi ponovno započeli s ispisom. Kod pojedinih ćete pisača čak morati isključiti i ponovno uključiti pisač, a zatim ponovno pokrenuti ispis.</p>

</page>
