<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-calibrationdevices" xml:lang="ta">

  <info>

    <link type="guide" xref="color#calibration"/>
    <revision pkgversion="40.3" date="2021-08-08" status="review"/>

    <desc>நாங்கள் பல்வேறு அளவை வகுத்தல் சாதனங்களை ஆதரிக்கிறோம்.</desc>

    <credit type="author">
      <name>ரிச்சர்ட் ஹியூகஸ்</name>
      <email>richard@hughsie.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shantha kumar,</mal:name>
      <mal:email>shkumar@redhat.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>எந்தெந்த நிற அளவீட்டுக் கருவிகளுக்கு ஆதரவுள்ளது?</title>

  <p>
    The system relies on the Argyll color management system to support
    color instruments. A list of supported measuring instruments can be found
    at <link href="https://www.argyllcms.com/doc/instruments.html"/>.
  </p>

</page>
