<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="printing-differentsize" xml:lang="ta">

  <info>
    <link type="guide" xref="printing#paper"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>ஃபில் புல்</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>ஜிம் காம்ப்பெல்</name>
      <email>jwcampbell@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <its:rules xmlns:its="http://www.w3.org/2005/11/its" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" xlink:type="simple" xlink:href="gnome-help.its"/>

    <desc>வேறு தாள் அளவு அல்லது திசையமைவில் ஒரு ஆவணத்தை அச்சிடுதல்.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shantha kumar,</mal:name>
      <mal:email>shkumar@redhat.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>அச்சிடும் போது தாள் அளவை மாற்றுதல்</title>

  <p>உங்கள் ஆவணத்தின் அளவை மாற்ற விரும்பினால் (உதாரணமாக A4 தாளில் US Letter-sized PDF ஐ அச்சிட விரும்பினால்), ஆவணத்திற்கான அச்சிடல் வடிவமைப்பை மாற்ற முடியும்.</p>

  <steps>
    <item>
      <p>Open the print dialog by pressing
      <keyseq><key>Ctrl</key><key>P</key></keyseq>.</p>
    </item>
    <item>
      <p><gui>பக்க அமைவு</gui> தாவலை தேர்ந்தெடுக்கவும்.</p>
    </item>
    <item>
      <p>Under the <gui>Paper</gui> column, choose your <gui>Paper size</gui>
      from the drop-down list.</p>
    </item>
    <item>
      <p>Click <gui>Print</gui> to print your document.</p>
    </item>
  </steps>

  <p>You can also use the <gui>Orientation</gui> drop-down list to choose a
  different orientation:</p>

  <list>
    <item><p><gui>நெடுவாக்கு</gui></p></item>
    <item><p><gui>கிடைவாக்கு</gui></p></item>
    <item><p><gui>தலைகீழ் நெடுவாக்கு</gui></p></item>
    <item><p><gui>தலைகீழ் கிடைவாக்கு</gui></p></item>
  </list>

</page>
