<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="printing-booklet-duplex" xml:lang="ta">

  <info>
    <link type="guide" xref="printing-booklet"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="candidate"/>

    <credit type="author">
      <name>டிஃபானி அன்ட்டொபோல்ஸ்கி</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="author editor">
      <name>பேட்ர் கோவார்</name>
      <email>pknbe@volny.cz</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Print folded booklets (like a book or pamphlet) from a PDF using normal
    A4/Letter-size paper.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shantha kumar,</mal:name>
      <mal:email>shkumar@redhat.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>Print a booklet on a double-sided printer</title>

  <p>You can make a folded booklet (like a small book or pamphlet) by printing
  pages of a document in a special order and changing a couple of printing
  options.</p>

  <p>இந்த வழிமுறைகள் ஒரு PDF ஆவணத்திலிருந்து ஒரு புக்லெட்டை அச்சிடுவதை விவரிக்கிறது.</p>

  <p><app>LibreOffice</app> ஆவணத்திலிருந்து ஒரு புக்லெட்டை அச்சிட, முதலில் <guiseq><gui>கோப்பு</gui><gui>PDF ஆக ஏற்றுமதி செய்…</gui></guiseq> ஐ தேர்வு செய்து அதை ஒரு PDF ஆக ஏற்றுமதி செய்யவும். உங்கள் ஆவணத்தின் பக்கங்களின் எண்ணிக்கை 4 இன் மடங்காக இருக்க வேண்டும் (4, 8, 12, 16,…). 3 வரையிலான காலி பக்கங்களைச் சேர்க்க வேண்டி இருக்கலாம்.</p>

  <p>ஒரு புக்லெட்டை அச்சிட:</p>

  <steps>
    <item>
      <p>அச்சிடு உரையாடலைத் திறக்கவும். மெனுவில் உள்ள <gui style="menuitem">அச்சிடு</gui> என்பதை தேர்ந்தெடுத்து அல்லது <keyseq><key>Ctrl</key><key>P</key></keyseq> விசைப்பலகை குறுக்குவழியைப் பயன்படுத்தி இதைத் திறக்கலாம்.</p>
    </item>
    <item>
      <p>Click the <gui>Properties…</gui> button </p>
      <p>In the <gui>Orientation</gui> drop-down list, make sure that
      <gui>Landscape</gui> is selected.</p>
      <p>In the <gui>Duplex</gui> drop-down list, select <gui>Short Edge</gui>.
      </p>
      <p>Click <gui>OK</gui> to go back to the print dialog.</p>
    </item>
    <item>
      <p>Under <gui>Range and Copies</gui>, choose <gui>Pages</gui>.</p>
    </item>
    <item>
      <p>இந்த வரிசையில் பக்கங்களின் எண்ணிக்கையை தட்டச்சு செய்யவும் (n என்பது மொத்த பக்கங்களின் எண்ணிக்கை, மற்றும் 4 இன் மடங்கு):</p>
      <p>n, 1, 2, n-1, n-2, 3, 4, n-3, n-4, 5, 6, n-5, n-6, 7, 8, n-7, n-8, 9, 10, n-9, n-10, 11, 12, n-11…</p>
      <p>எடுத்துக்காட்டுகள்:</p>
      <list>
        <item><p>4 பக்க புக்லெட்: <input>4,1,2,3</input> என தட்டச்சு செய்யவும்</p></item>
        <item><p>8 பக்க புக்லெட்: <input>8,1,2,7,6,3,4,5</input> என தட்டச்சு செய்யவும்</p></item>
        <item><p>20 பக்க புக்லெட்: <input>20,1,2,19,18,3,4,17,16,5,6,15,14,7,8,13,12,9,10,11</input> என தட்டச்சு செய்யவும்</p></item>
      </list>
    </item>
    <item>
      <p>Choose the <gui>Page Layout</gui> tab.</p>
      <p>Under <gui>Layout</gui>, select <gui>Brochure</gui>.</p>
      <p>Under <gui>Page Sides</gui>, in the <gui>Include</gui> drop-down list,
      select <gui>All pages</gui>.</p>
    </item>
    <item>
      <p><gui>அச்சிடு</gui> ஐ சொடுக்கவும்.</p>
    </item>
  </steps>

</page>
