<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="user-goodpassword" xml:lang="ro">

  <info>
    <link type="guide" xref="user-accounts#passwords"/>

    <revision pkgversion="3.8.0" date="2013-03-09" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Use longer, more complicated passwords.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Șerbănescu</mal:name>
      <mal:email>daniel [at] serbanescu [dot] dk</mal:email>
      <mal:years>2016, 2019</mal:years>
    </mal:credit>
  </info>

  <title>Choose a secure password</title>

  <note style="important">
    <p>Make your passwords easy enough for you to remember, but very difficult
    for others (including computer programs) to guess.</p>
  </note>

  <p>Choosing a good password will help to keep your computer safe. If your
  password is easy to guess, someone may figure it out and gain access to your
  personal information.</p>

  <p>People could even use computers to systematically try to guess your
  password, so even one that would be difficult for a human to guess might be
  extremely easy for a computer program to crack. Here are some tips for
  choosing a good password:</p>
  
  <list>
    <item>
      <p>Use a mixture of upper-case and lower-case letters, numbers, symbols
      and spaces in the password. This makes it more difficult to guess; there
      are more symbols from which to choose, meaning more possible passwords
      that someone would have to check when trying to guess yours.</p>
      <note>
        <p>A good method for choosing a password is to take the first letter of
        each word in a phrase that you can remember. The phrase could be the
        name of a movie, a book, a song or an album. For example, “Flatland: A
        Romance of Many Dimensions” would become F:ARoMD or faromd or f:
        aromd.</p>
      </note>
    </item>
    <item>
      <p>Make your password as long as possible. The more characters it
      contains, the longer it should take for a person or computer to guess
      it.</p>
    </item>
    <item>
      <p>Do not use any words that appear in a standard dictionary in any
      language. Password crackers will try these first. The most common
      password is “password” — people can guess passwords like this very
      quickly!</p>
    </item>
    <item>
      <p>Do not use any personal information such as a date, license plate
      number, or any family member’s name.</p>
    </item>
    <item>
      <p>Do not use any nouns.</p>
    </item>
    <item>
      <p>Choose a password that can be typed quickly, to decrease the chances
      of someone being able to make out what you have typed if they happen to
      be watching you.</p>
      <note style="tip">
        <p>Never write your passwords down anywhere. They can be easily
        found!</p>
      </note>
    </item>
    <item>
      <p>Use different passwords for different things.</p>
    </item>
    <item>
      <p>Use different passwords for different accounts.</p>
      <p>If you use the same password for all of your accounts, anyone who
      guesses it will be able to access all of your accounts immediately.</p>
      <p>It can be difficult to remember lots of passwords, however. Though not
      as secure as using a different passwords for everything, it may be easier
      to use the same one for things that do not matter (like websites), and
      different ones for important things (like your online banking account and
      your email).</p>
   </item>
   <item>
     <p>Change your passwords regularly.</p>
   </item>
  </list>

</page>
