<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="backup-frequency" xml:lang="as">

  <info>
    <link type="guide" xref="files#backup"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>টিফানি এন্টপলস্কি</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="author">
      <name>GNOME তথ্যচিত্ৰ প্ৰকল্প</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Learn how often you should backup your important files to make sure
    that they are safe.</desc>
  </info>

<title>বেকআপসমূহৰ বাৰংবাৰতা</title>

  <p>আপুনি কিমান বাৰ বেকআপ লয় সেয়া বেকআপ লব লগিয়া তথ্যৰ ওপৰত নিৰ্ভৰ কৰে। উদাহৰণস্বৰূপ, যদি আপুনি চাৰ্ভাৰসমূহত গুৰুত্বপূৰ্ণ তথ্যৰ সৈতে এটা নেটৱাৰ্ক পৰিৱেশ চলাই আছে, তেন্তে নাইটলি বেকআপ পৰ্যাপ্ত নহব।</p>

  <p>অন্য হাতে, যদি আপুনি তথ্যক আপোনাৰ ঘৰৰ কমপিউটাৰত বেকআপ লৈ আছে তেন্তে প্ৰতি ঘন্টাত বেকআপ লোৱাৰ প্ৰয়োজন নহব। আপোনাৰ বেকআপ ক্ৰম নিৰ্ধাৰণ কৰোতে নিম্নলিখিত বিষয়বোৰ মন কৰাটো সহায়ক হব:</p>

<list style="compact">
  <item><p>আপুনি কমপিউটাৰত ব্যয় কৰা সময়।</p></item>
  <item><p>কিমান সচৰাচৰ আৰু কিমান পৰিমাণ তথ্য কমপিউটাৰত পৰিবৰ্তন হয়।</p></item>
</list>

  <p>যদি আপুনি বেকআপ লব খোজা তথ্য নিম্ন প্ৰাথমিকতাৰ, অথবা কম পৰিবৰ্তনত, যেনে সংগিত, ই-মেইলসমূহ আৰু পৰিয়াল ফ'টোসমূহ, তেন্তে সাপ্তাহিক অথবা মাহেকীয়া বেকআপ পৰ্যাপ্ত। যি কি নহওক, যদি আপুনি এটা টেক্স অডিটৰ মাজত থাকে, অধিক সঘনে বেকআপ লোৱাৰ প্ৰয়োজন হব পাৰে।</p>

  <p>এটা সাধাৰণ নিয়ম ৰূপে, বেকআপসমূহৰ মাজৰ সময় আপুনি কোনো হেৰুৱা কাৰ্য্য পুনৰ কৰিবলৈ ব্যয় কৰিব খোজা সময় পৰিমাণতকৈ অধিক হব নালাগিব। উদাহৰণস্বৰূপ, যদি হেৰুৱা দস্তাবেজসমূহ পুনৰ লিখোতে এটা সপ্তাহ ব্যয় কৰাটো আপোনাৰ বাবে অত্যাধিক দীঘল, আপুনি প্ৰত্যক সপ্তাহ অন্তত এবাৰ বেকআপ লব লাগিব।</p>

</page>
