<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-calibrate-printer" xml:lang="as">

  <info>
    <link type="guide" xref="color#calibration"/>
    <link type="seealso" xref="color-calibrate-scanner"/>
    <link type="seealso" xref="color-calibrate-screen"/>
    <link type="seealso" xref="color-calibrate-camera"/>
    <desc>সঠিক ৰঙবোৰ প্ৰিন্ট কৰিবলৈ আপোনাৰ প্ৰিন্টাৰ মানাংকন কৰাটো গুৰুত্বপূৰ্ণ।</desc>

    <credit type="author">
      <name>ৰিচাৰ্ড হিউগ্চ</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>মই মোৰ প্ৰিন্টাৰ কেনেকৈ মানাংকন কৰিম?</title>

  <p>এটা প্ৰিন্টাৰ ডিভাইচক আলেখ্যন কৰিবলৈ দুটা পদ্ধতি আছে:</p>

  <list>
    <item><p>Pantone ColorMunki ৰ নিচিনা এটা ফ'টোস্পেক্ট্ৰমিটৰ ডিভাইচ ব্যৱহাৰ কৰি</p></item>
    <item><p>Downloading a printing reference file from a color company</p></item>
  </list>

  <p>
    Using a color company to generate a printer profile is usually the
    cheapest option if you only have one or two different paper types.
    By downloading the reference chart from the companies website you
    can then send them back the print in a padded envelope where they
    will scan the paper, generate the profile and email you back an
    accurate ICC profile.
  </p>
  <p>এটা মূল্যবান ডিভাইচ যেনে ColorMunki ব্যৱহাৰ কৰাটো কেৱল তেতিয়াহে সূলভ হব যেতিয়া আপুনি চিয়াঁহী সংহতি অথবা কাজগ ধৰণৰ এটা বৃহত সংখ্যা আলেখ্যন কৰি আছে।</p>

  <note style="tip">
    <p>যদি আপুনি আপোনাৰ চিয়াঁহী যোগানকাৰী সলনি কৰে, প্ৰিন্টাৰ পুনৰ মানাংকন কৰাটো সুনিশ্চিত কৰিব!</p>
  </note>

</page>
