<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:uix="http://projectmallard.org/experimental/ui/" type="guide" style="task" id="files" xml:lang="as">

  <info>
    <link type="guide" xref="index" group="files"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-07" status="review"/>
    <revision pkgversion="3.12" date="2014-03-02" status="review"/>
    <revision pkgversion="3.16" date="2015-01-27" status="review"/>

    <credit type="author">
      <name>শ্বণ মেকেন্স</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>মাইকেল হিল</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>জিম কেম্পবেল</name>
      <email>jcampbell@gnome.org</email>
    </credit>

    <title type="link" role="trail">ফাইলসমূহ</title>

    <desc>Find and manage your files, whether on your computer, on the
    internet, or in backups.</desc>

    <uix:thumb role="experimental-gnome-tiles" src="figures/tile-files.svg"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>ফাইলসমূহ, ফোল্ডাৰসমূহ &amp; সন্ধান</title>

<section id="common-file-tasks">
  <title>সাধাৰণ কাৰ্য্যসমূহ</title>
  <links type="topic" style="2column"/>
</section>

<section id="more-file-tasks">
  <title>More file-related tasks</title>
  <links type="topic" style="2column"/>
</section>

<section id="removable">
  <title>আতৰাব পৰা ড্ৰাইভসমূহ আৰু বহিৰ্তম ডিস্কসমূহ</title>
  <links type="topic" style="2column"/>
</section>

<section id="backup">
  <title>বেকআপ লোৱা</title>
  <links type="topic" style="2column"/>
</section>

<section id="faq">
  <title>সহায় আৰু প্ৰশ্নবোৰ</title>
  <links type="topic" style="2column"/>
</section>

</page>
