<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="mouse-lefthanded" xml:lang="as">

  <info>
    <link type="guide" xref="mouse"/>

    <revision pkgversion="3.8" date="2013-03-13" status="candidate"/>
    <revision pkgversion="3.10" date="2013-10-29" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.29" date="2018-08-21" status="review"/>
    <revision pkgversion="3.33" date="2019-07-20" status="candidate"/>

    <credit type="author">
      <name>ফিল বুল</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>শ্বণ মেকেন্স</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>মাইকেল হিল</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>একাটেৰিনা গেৰাচিমভা</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>মাউছ সংহতিসমূহত বাওঁ আৰু সোঁ মাউছ বুটামসমূহ উলোটাওক।</desc>
  </info>

  <title>আপোনাৰ মাউছক বাওঁ-হাতেৰে ব্যৱহাৰ কৰক</title>

  <p>আপুনি আপোনাৰ মাউছ অথবা টাচপেডৰ বাঁও আৰু সোঁ বুটামসমূহৰ ব্যৱহাৰ সলনি কৰিব পাৰিব যাতে ই বাঁও-হাতৰ ব্যৱহাৰৰ বাবে সুবিধাজনক হয়।</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> 
      overview and start typing <gui>Mouse &amp; Touchpad</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Mouse &amp; Touchpad</gui> to open the panel.</p>
    </item>
    <item>
      <p>In the <gui>General</gui> section, click to switch
      <gui>Primary button</gui> to <gui>Right</gui>.</p>
    </item>
  </steps>

  <note>
    <p>এই সংহতিয়ে আপোনাৰ মাউছ আৰু টাচপেড দুয়োটাকে প্ৰভাৱিত কৰিব, লগতে অন্য যিকোনো পইন্টিং ডিভাইচ।</p>
  </note>

</page>
