<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="mouse-wakeup" xml:lang="as">

  <info>
    <link type="guide" xref="mouse#problems"/>

    <revision pkgversion="3.8" date="2013-03-13" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>টিফানি এন্টপলস্কি</name>
      <email>tiffany@antopolski.com</email>
      <years>2011</years>
    </credit>
    <credit type="editor">
      <name>শ্বণ মেকেন্স</name>
      <email>shaunm@gnome.org</email>
      <years>2011</years>
    </credit>
    <credit type="editor">
      <name>মাইকেল হিল</name>
      <email>mdhill@src.gnome.org</email>
      <years>2012</years>
    </credit>
    <credit type="author">
      <name>জানা চ্ভাৰ'ভা</name>
      <email>jsvarova@redhat.com</email>
      <years>২০১৩</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>যদি আপোনাক মাউছ প্ৰতিক্ৰিয়া কৰাবলৈ ইফাল সিফাল অথবা ক্লিক কৰিব লগিয়া হয়। </desc>
  </info>

  <title>ই কাৰ্য্যকৰী হোৱাৰ আগত মাউছ বিলম্বৰ সৈতে প্ৰতিক্ৰিয়া কৰে</title>

  <p>Wireless and optical mice, as well as touchpads on laptops, may need to
  “wake up” before they start working. They automatically go to sleep when not in
  use to save battery power. To wake up your mouse or touchpad, you can click on
  a mouse button or wiggle the mouse.</p>

</page>
