<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="problem" id="printing-paperjam" xml:lang="as">

  <info>
    <link type="guide" xref="printing#problems"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>জিম কেম্পবেল</name>
      <email>jcampbell@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>আপুনি কেনেকৈ এটা ঠাহ খোৱা পাত আতৰাব সেয়া প্ৰিন্টাৰৰ নিৰ্মাণ আৰু আৰ্হিৰ ওপৰত নিৰ্ভৰ কৰে।</desc>
  </info>

  <title>এটা পাতৰ নিসন্ধি আতৰোৱা</title>

  <p>কেতিয়াবা প্ৰিন্টাৰবোৰে পাতবোৰ ভুলভাৱে ফিড কৰে আৰু নিসন্ধ হয়।</p>

  <p>The manual for your printer will usually provide detailed instructions on
  how to clear paper jams. Usually, you will need to open one of the printer’s
  panels to find the jam inside and then firmly (but carefully!) pull the
  jammed paper out of the printer’s feeding mechanism.</p>

  <p>Once the jam has been cleared you may need to press the printer’s
  <em>resume</em> button to start printing again. With some printers, you may
  even need to turn the printer off and then on again, and then start the print
  job again.</p>

</page>
