<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="shell-apps-favorites" xml:lang="as">

  <info>
    <link type="seealso" xref="shell-apps-open"/>
    <link type="guide" xref="shell-overview#desktop"/>

    <revision pkgversion="3.6.0" date="2012-10-14" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>

    <credit type="author">
      <name>GNOME তথ্যচিত্ৰ প্ৰকল্প</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>মাইকেল হিল</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>জানা চ্ভাৰ'ভা</name>
      <email>jana.svarova@gmail.com</email>
      <years>২০১৩</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>ডেশ্বত বাৰংবাৰ ব্যৱহাৰ কৰা প্ৰগ্ৰাম আইকনসমূহ যোগ কৰক (অথবা আতৰাওক)।</desc>
  </info>

  <title>আপোনাৰ পছন্দৰ এপসমূহক ডেশলৈ পিন কৰক</title>

  <p>To add an application to the <link xref="shell-introduction#activities">dash</link>
  for easy access:</p>

  <steps>
    <item>
      <p if:test="!platform:gnome-classic">Open the
      <gui xref="shell-introduction#activities">Activities</gui> overview by
      clicking <gui>Activities</gui> at the top left of the screen</p>
      <p if:test="platform:gnome-classic">Click the
      <gui xref="shell-introduction#activities">Applications</gui> menu at the
      top left of the screen and choose the <gui>Activities Overview</gui> item
      from the menu.</p></item>
    <item>
      <p>ডেশ্বত গ্ৰিড বুটাম ক্লিক কৰক আৰু আপুনি যোগ কৰিব বিচৰা এপ্লিকেচন সন্ধান কৰক।</p>
    </item>
    <item>
      <p>এপ্লিকেচন আইকন ৰাইট-ক্লিক কৰক আৰু <gui>পছন্দলৈ যোগ কৰক</gui> বাছক।</p>
      <p>বিকল্পভাৱে, আপুনি আইকনক ডেশলৈ ক্লিক-আৰু-ড্ৰেগ কৰিব পাৰিব।</p>
    </item>
  </steps>

  <p>ডেশৰ পৰা এটা এপ্লিকেচনক আতৰাবলৈ, এপ্লিকেচন আইকনত ৰাইট-ক্লিক কৰক আৰু <gui>পছন্দৰ পৰা আতৰাওক</gui> বাছক।</p>

  <note style="tip" if:test="platform:gnome-classic"><p>Favorite applications
    also appear in the <gui>Favorites</gui> section of the
    <gui xref="shell-introduction#activities">Applications</gui> menu.</p>
  </note>

</page>
