<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-whatisprofile" xml:lang="pt">

  <info>
    <link type="guide" xref="color#profiles"/>
    <desc>Um perfil de cores é um ficheiro simples, que expressa um espaço de cores ou a resposta de um dispositivo.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tiago Santos</mal:name>
      <mal:email>tiagofsantos81@sapo.pt</mal:email>
      <mal:years>2014, 2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hugo Carvalho</mal:name>
      <mal:email>hugokarvalho@hotmail.com</mal:email>
      <mal:years>2020, 2021</mal:years>
    </mal:credit>
  </info>

  <title>O que é um perfil de cores?</title>

  <p>Um perfil de cores é um conjunto de dados que caracterizam ou um dispositivo como um projetor ou um espaço de cores como sRGB.</p>
  <p>A maioria dos perfis de cores estão na forma de um perfil ICC, que é um pequeno ficheiro com uma extensão <input>.ICC</input> ou <input>.ICM</input>.</p>
  <p>Os perfis de cores podem estar embutidos em imagens para especificar a faixa de gama de cores dos dados. Isso garante que os utilizadores usem as mesmas cores em dispositivos diferentes.</p>
  <p>Cada dispositivo que estiver processando cores deveria ter seu próprio perfil ICC, e, quando isso acontece, diz-se que o sistema tem um <em>fluxo de trabalho com cores gerenciadas de ponta a ponta</em>. Com esse tipo de fluxo de trabalho, pode ter certeza de que as cores não estão sendo perdidas nem modificadas.</p>

</page>
