<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-missingvcgt" xml:lang="pt">

  <info>
    <link type="guide" xref="color#problems"/>
    <link type="seealso" xref="color-gettingprofiles"/>
    <desc>A correção de cores de toda o ecrã modifica todas as cores do ecrã em todas as janelas.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tiago Santos</mal:name>
      <mal:email>tiagofsantos81@sapo.pt</mal:email>
      <mal:years>2014, 2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hugo Carvalho</mal:name>
      <mal:email>hugokarvalho@hotmail.com</mal:email>
      <mal:years>2020, 2021</mal:years>
    </mal:credit>
  </info>

  <title>Faltam informações para correção de cores de toda o ecrã?</title>
  <p>Infelizmente, muitos perfis ICC fornecidos pelo fabricante não incluem as informações exigidas para a correção de cores de toda o ecrã. Esses perfis podem ser úteis para aplicações que façam compensação de coloração, mas ainda não verá todas as cores de suo ecrã se alterarem.</p>
  <p>Para criar um perfil de monitor/ecrã, o que inclui tanto os dados de calibração como os de caracterização, precisará usar instrumentos especiais de medição de cores chamados de colorímetros ou espectrômetros.</p>

</page>
