<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="lockdown-file-saving" xml:lang="fa">

  <info>
    <link type="guide" xref="user-settings#lockdown"/>
    <link type="seealso" xref="dconf-lockdown"/>
    <revision pkgversion="3.11" date="2014-10-14" status="candidate"/>

    <credit type="author copyright">
      <name>یانا سواروا</name>
      <email>jana.svarova@gmail.com</email>
      <years>۲۰۱۴</years>
    </credit>
    <credit type="author copyright">
      <name>اکاترینا گراسیموفا</name>
      <email>kittykat3756@gmail.com</email>
      <years>۲۰۱۴</years>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        
    <desc>Prevent the user from saving files to disk.</desc>
  </info>
  
  <title>Disable file saving</title>

  <p>You can disable the <gui>Save</gui> and <gui>Save As</gui> dialogs. This
  can be useful if you are giving temporary access to a user or you do not want
  the user to save files to the computer.</p>

  <note style="warning">
    <p>This feature will only work in applications which support it! Not all
    GNOME and third party applications have this feature enabled. These changes
    will have no effect on applications which do not support this feature.</p>
  </note>

  <steps>
    <title>Disable file saving</title>
    <include xmlns="http://www.w3.org/2001/XInclude" href="dconf-snippets.xml" xpointer="xpointer(/*/*[@xml:id='dconf-profile-user'])"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="dconf-snippets.xml" xpointer="xpointer(/*/*[@xml:id='dconf-profile-user-dir'])"/>
    <item>
      <p>Create the key file
      <file>/etc/dconf/db/local.d/00-filesaving</file> to provide
      information for the <sys>local</sys> database.</p>
      <listing>
        <title><file>/etc/dconf/db/local.d/00-filesaving</file></title>
<code>
# Specify the dconf path
[org/gnome/desktop/lockdown]

# Prevent the user from saving files on disk
disable-save-to-disk=true
</code>
     </listing>
    </item>
    <item>
      <p>To prevent the user from overriding these settings, create the file
      <file>/etc/dconf/db/local.d/locks/filesaving</file> with the following
      content:</p>
      <listing>
        <title><file>/etc/dconf/db/local.d/locks/filesaving</file></title>
<code>
# Lock file saving settings
/org/gnome/desktop/lockdown/disable-save-to-disk
</code>
      </listing>
    </item>
    <include xmlns="http://www.w3.org/2001/XInclude" href="dconf-snippets.xml" xpointer="xpointer(/*/*[@xml:id='dconf-update'])"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="dconf-snippets.xml" xpointer="xpointer(/*/*[@xml:id='dconf-logoutin'])"/>
  </steps>

</page>
