<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="login" xml:lang="ko">
  <info>
    <link type="guide" xref="index"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="login-userlist-disable">사용자 목록 비활성</link>, <link xref="session-user">사용자 기본 세션 설정</link>, <link xref="login-automatic">자동 로그인</link>…</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조재은</mal:name>
      <mal:email>ckr971028@gmail.com</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2019, 2021, 2023.</mal:years>
    </mal:credit>
  </info>

  <title>로그인</title>

<section id="appearance">
  <title>모양새</title>
  <links style="2column" type="topic"/>
</section>

<section id="management">
  <title>관리</title>
  <links style="2column" type="topic"/>
</section>
</page>
