<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="user-settings" xml:lang="ko">

  <info>
    <link type="guide" xref="index" group="user-settings"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="power-dim-screen">화면 검게 만들기</link>, <link xref="lockdown-online-accounts">온라인 계정 활성/비활성</link>, <link xref="lockdown-printing">인쇄 끄기</link>…</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조재은</mal:name>
      <mal:email>ckr971028@gmail.com</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2019, 2021, 2023.</mal:years>
    </mal:credit>
  </info>

  <title>사용자 설정</title>

<!--<section id="default">
  <title>Pre-seed user defaults</title>
  <links style="2column" type="topic"/>
</section>

<section id="email">
  <title>Set up email and calendar</title>
  <links style="2column" type="topic"/>
</section>-->

<section id="lockdown">
  <title>잠금 설정</title>
  <links style="2column" type="topic"/>
</section>

</page>
