<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="user-settings" xml:lang="fr">

  <info>
    <link type="guide" xref="index" group="user-settings"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="power-dim-screen">Assombrir l’écran</link>, <link xref="lockdown-online-accounts">autoriser ou interdire les comptes en ligne</link>, <link xref="lockdown-printing">désactiver l’impression</link>…</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Thibault Leclair</mal:name>
      <mal:email>thibaultleclair@yahoo.com</mal:email>
      <mal:years>2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mathieu Bousquet</mal:name>
      <mal:email>mathieu.bousquet2@gmail.com</mal:email>
      <mal:years>2022</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Guillaume Bernard</mal:name>
      <mal:email>associations@guillaume-bernard.fr</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Irénée Thirion</mal:name>
      <mal:email>irenee.thirion@e.email</mal:email>
      <mal:years>2023-2024</mal:years>
    </mal:credit>
  </info>

  <title>Préférences utilisateur</title>

<!--<section id="default">
  <title>Pre-seed user defaults</title>
  <links style="2column" type="topic"/>
</section>

<section id="email">
  <title>Set up email and calendar</title>
  <links style="2column" type="topic"/>
</section>-->

<section id="lockdown">
  <title>Verrouiller les paramètres</title>
  <links style="2column" type="topic"/>
</section>

</page>
