<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="user-settings" xml:lang="id">

  <info>
    <link type="guide" xref="index" group="user-settings"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="power-dim-screen">Meredupkan layar</link>, <link xref="lockdown-online-accounts">mengizinkan atau melarang akun daring</link>, <link xref="lockdown-printing">menonaktifkan pencetakan</link>…</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2020-2024</mal:years>
    </mal:credit>
  </info>

  <title>Setelan pengguna</title>

<!--<section id="default">
  <title>Pre-seed user defaults</title>
  <links style="2column" type="topic"/>
</section>

<section id="email">
  <title>Set up email and calendar</title>
  <links style="2column" type="topic"/>
</section>-->

<section id="lockdown">
  <title>Mengunci pengaturan</title>
  <links style="2column" type="topic"/>
</section>

</page>
