<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" version="1.0 if/1.0" id="gnome-classic" xml:lang="pa">

  <info>
    <link type="guide" xref="shell-overview"/>

    <revision pkgversion="3.10.1" date="2013-10-28" status="review"/>
    <revision pkgversion="3.29" date="2018-08-28" status="review"/>
    <revision version="gnome:40" date="2021-06-16" status="review"/>

    <credit type="author">
      <name>ਗਨੋਮ ਦਸਤਾਵੇਜ਼ ਪ੍ਰੋਜੈਕਟ</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Petr Kovar</name>
      <email>pknbe@volny.cz</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Consider switching to GNOME Classic if you prefer a more traditional
     desktop experience.</desc>
  </info>

<title>What is GNOME Classic?</title>

<if:choose>
  <if:when test="!platform:gnome-classic">
  <p><em>GNOME Classic</em> is a feature for users who prefer a more traditional
  desktop experience. While <em>GNOME Classic</em> is based on modern GNOME
  technologies, it provides a number of changes to the user interface, such as
  the <gui>Applications</gui> and
  <gui>Places</gui> menus on the top bar, and a window
  list at the bottom of the screen.</p>
  </if:when>
  <if:when test="platform:gnome-classic">
<p><em>GNOME Classic</em> is a feature for users who prefer a more traditional
  desktop experience. While <em>GNOME Classic</em> is based on modern GNOME
  technologies, it provides a number of changes to the user interface, such as
  the <gui xref="shell-introduction#activities">Applications</gui> and
  <gui>Places</gui> menus on the top bar, and a window
  list at the bottom of the screen.</p>
  </if:when>
</if:choose>

<p>You can use the <gui>Applications</gui> menu on the top bar to launch
 applications.</p>

<section id="gnome-classic-window-list">
<title>Window list</title>

<p>The window list at the bottom of the screen provides access to all your open
 windows and applications and lets you quickly minimize and restore them.</p>

<p>The <gui xref="shell-introduction#activities">Activities</gui> overview is available
 by clicking the button at the left-hand side of the window list at the bottom.</p>

<p>To access the <em><gui>Activities</gui> overview</em>,
 you can also press the <key xref="keyboard-key-super">Super</key> key.</p>
 
 <p>At the right-hand side of the window list, GNOME displays a short
 identifier for the current workspace, such as <gui>1</gui> for the first
 (top) workspace. In addition, the identifier also displays the total number
 of available workspaces. To switch to a different workspace, you can click
 the identifier and select the workspace you want to use from the menu.</p>

</section>

<section id="gnome-classic-switch">
<title>Switch to and from GNOME Classic</title>

<note if:test="!platform:gnome-classic !platform:ubuntu" style="important">
<p>GNOME Classic is only available on systems with certain GNOME Shell extensions
 installed. Some Linux distributions may not have these extensions available or
 installed by default.</p>
</note>

<note if:test="!platform:gnome-classic platform:ubuntu" style="important">
<p its:locNote="Translators: Ubuntu only string">You need to have the
 <sys>gnome-shell-extensions</sys> package installed to make GNOME Classic available.</p>
<p its:locNote="Translators: Ubuntu only string"><link style="button" action="install:gnome-shell-extensions">Install <sys>gnome-shell-extensions</sys></link></p>
</note>

  <steps>
    <title>To switch from <em>GNOME</em> to <em>GNOME Classic</em>:</title>
    <item>
      <p>Save any open work, and then log out. Click the system menu on the right
      side of the top bar and then choose the right option.</p>
    </item>
    <item>
      <p>A confirmation message will appear. Select <gui>Log Out</gui> to
      confirm.</p>
    </item>
    <item>
      <p>At the login screen, select your name from the list.</p>
    </item>
    <item>
      <p>Click the <media its:translate="no" type="image" src="figures/emblem-system-symbolic.svg"><span its:translate="yes">settings</span></media>
      button in the bottom right corner.</p>
    </item>
    <item>
      <p>Select <gui>GNOME Classic</gui> from the list.</p>
    </item>
    <item>
      <p>Enter your password in the password entry box.</p>
    </item>
    <item>
      <p>Press <key>Enter</key>.</p>
    </item>
  </steps>

  <steps>
    <title>To switch from <em>GNOME Classic</em> to <em>GNOME</em>:</title>
    <item>
      <p>Save any open work, and then log out. Click the system menu on the right
      side of the top bar, click your name and then choose the right option.</p>
    </item>
    <item>
      <p>A confirmation message will appear. Select <gui>Log Out</gui> to
      confirm.</p>
    </item>
    <item>
      <p>At the login screen, select your name from the list.</p>
    </item>
    <item>
      <p>Click the options icon in the bottom right corner.</p>
    </item>
    <item>
      <p>Select <gui>GNOME</gui> from the list.</p>
    </item>
    <item>
      <p>Enter your password in the password entry box.</p>
    </item>
    <item>
      <p>Press <key>Enter</key>.</p>
    </item>
  </steps>
  
</section>

</page>
