<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="power-hotcomputer" xml:lang="pa">

  <info>
    <link type="guide" xref="power#problems"/>
    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <desc>Computers usually get warm, but if they get too hot they can overheat, which can be damaging.</desc>

    <credit type="author">
      <name>ਗਨੋਮ ਦਸਤਾਵੇਜ਼ ਪ੍ਰੋਜੈਕਟ</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>My computer gets really hot</title>

<p>Most computers get warm after a while, and some can get quite hot. This is
normal: it is simply part of the way that the computer cools itself. However,
if your computer gets very warm it could be a sign that it is overheating,
which can potentially cause damage.</p>

<p>Most laptops get reasonably warm once you have been using them for a while.
It is generally nothing to worry about — computers produce a lot of heat and
laptops are very compact, so they need to remove their heat rapidly and their
outer casing warms up as a result. Some laptops do get too hot, however, and
may be uncomfortable to use. This is normally the result of a poorly-designed
cooling system. You can sometimes get additional cooling accessories which fit
to the bottom of the laptop and provide more efficient cooling.</p>

<p>If you have a desktop computer which feels hot to the touch, it may have
insufficient cooling. If this concerns you, you can buy extra cooling fans or
check that the cooling fans and vents are free from dust and other blockages.
You might want to consider putting the computer in a better-ventilated area too
— if kept in confined spaces (for example, in a cupboard), the cooling system in the
computer may not be able to remove heat and circulate cool air fast enough.</p>

<p>Some people are concerned about the health risks of using hot laptops. There
are suggestions that prolonged use of a hot laptop on your lap might possibly
reduce fertility, and there are reports of minor burns being suffered
too (in extreme cases). If you are concerned about these potential problems,
you may wish to consult a medical practitioner for advice. Of course, you can
simply choose not to rest the laptop on your lap.</p>

<p>Most modern computers will shut themselves down if they get too hot, to
prevent themselves from becoming damaged. If your computer keeps shutting down,
this might be the reason. If your computer is overheating, you will probably
need to get it repaired.</p>

</page>
