<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="login" xml:lang="cs">
  <info>
    <link type="guide" xref="index"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="login-userlist-disable">Zakázání seznamu uživatelů</link>, <link xref="session-user">nastavení uživatelova výchozího sezení</link>, <link xref="login-automatic">automatické přihlášení</link>…</desc>

  </info>

  <title>Příhlášení</title>

<section id="appearance">
  <title>Vzhled</title>
  <links style="2column" type="topic"/>
</section>

<section id="management">
  <title>Správa</title>
  <links style="2column" type="topic"/>
</section>
</page>
