<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="network" xml:lang="cs">

  <info>
    <link type="guide" xref="index"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="network-server-list">Nastavení seznamu výchozích serverů</link>, <link xref="network-vpn">nastavení výchozí VPN</link>…</desc>

  </info>

  <title>Sítě a hardware</title>

</page>
