<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="dconf" xml:lang="tr">

  <info>
    <link type="guide" xref="setup"/>
    <revision pkgversion="3.30" date="2019-02-08" status="incomplete"/>

    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="collaborator">
      <name>Ryan Lortie</name>
      <email>desrt@desrt.ca</email>
      <years>2013</years>
    </credit>
    <credit type="author copyright">
      <name>Jim Campbell</name>
      <email>jcampbell@gnome.org</email>
      <years>2014</years>
    </credit>
    <credit type="editor">
      <name>Petr Kovar</name>
      <email>pknbe@volny.cz</email>
      <years>2019</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>What is <sys>dconf</sys>? How can it be used to edit configurations?</desc>
  </info>

  <title>Manage user and system settings with dconf</title>

  <!-- TODO: improve wording throughout the page -->
  <p><sys>dconf</sys> is one of the main configuration utilities in GNOME. Its
  purpose is to help you set and manage GNOME system and application
  settings.</p>

  <p>To give you an idea of the power of <sys>dconf</sys> within GNOME, a
  <sys>dconf</sys> key exists for most every setting that a user can click on
  in the GNOME desktop or in any GNOME application. In addition to this, there
  are some system and application settings that cannot even be changed from
  within the user interface, but which <em>can</em> be changed by using
  <sys>dconf</sys>.</p>

  <p>As an administrator, this means that knowing how to use <sys>dconf</sys>
  will help you to customize GNOME and GNOME-based applications to best suit
  the needs of your particular environment.</p>

  <p>Users can override the customized defaults with their own settings, unless
  the administrator locks these defaults to prevent overriding.</p>

</page>
