<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="network" xml:lang="tr">

  <info>
    <link type="guide" xref="index"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>
      <link xref="network-server-list">Configure a default server list</link>,
      <link xref="network-vpn">default VPN settings</link>…
    </desc>

  </info>

  <title>Network &amp; hardware</title>

</page>
