<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="tip" id="backup-why" xml:lang="vi">

  <info>
    <link type="guide" xref="files#backup"/>
    <title type="link" role="trail">Sao lưu</title>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>Dự án tài liệu GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Sao lưu, tại sao, nơi nào, cái gì, thế nào.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nguyễn Thái Ngọc Duy</mal:name>
      <mal:email>pclouds@gmail.com</mal:email>
      <mal:years>2011-2012.</mal:years>
    </mal:credit>
  </info>

<title>Sao lưu tập tin quan trọng</title>

  <p><em>Sao lưu</em> tập tin của bạn đơn giản là tạo một bản sao tập tin để giữ an toàn, đề phòng khi bản gốc không thể sử dụng được vì bị mất hoặc bị hư. Những bản sao này có thể được dùng để phục hồi dữ liệu gốc khi bị mất hoặc hư. Bản sao nên được lưu ở một thiết bị khác với bản gốc. Ví dụ bạn có thể dùng ổ USB hoặc đĩa cứng ngoài, CD/DVD hoặc dịch vụ ở xa.</p>

  <p>Cách tốt nhất để sao lưu tập tin của bạn là làm định kì, giữ bản sao ở xa và (tốt hơn nên) mã hoá cẩn thận.</p>

<links type="topic" style="2column"/>

</page>
