<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="power-batteryoptimal" xml:lang="vi">

  <info>
    <link type="guide" xref="power"/>
    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <desc>Tips such as “Do not let the battery charge get too low”.</desc>

    <credit type="author">
      <name>Dự án tài liệu GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nguyễn Thái Ngọc Duy</mal:name>
      <mal:email>pclouds@gmail.com</mal:email>
      <mal:years>2011-2012.</mal:years>
    </mal:credit>
  </info>

<title>Sử dụng tối ưu pin laptop</title>

<p>Pin laptop dùng càng lâu thì sức chứa càng ngày càng giảm dần. Có một số kỹ thuật để có thể kéo dài thời gian dùng pin, mặc dù có thể cũng không có khác biệt lắm.</p>

<list>
  <item>
    <p>Đừng để pin cạn hết. Luôn luôn sạc pin <em>trước khi</em> pin gần hết, mặc dù hầu hết pin có bảo vệ chống xuống quá thấp. Sạc khi pin đang xả thì hiệu quả hơn, mặc dù sạc khi chỉ mới xả chút ít đôi khi lại hại pin.</p>
  </item>
  <item>
    <p>Nhiệt ảnh hưởng đến khả năng sạc pin. Đừng để pin ấm hơn bình thường.</p>
  </item>
  <item>
    <p>Batteries age even if you leave them in storage. There is little
    advantage in buying a replacement battery at the same time as you get the
    original battery — always buy replacements when you need them.</p>
  </item>
</list>

<note>
  <p>Lời khuyên này áp dụng đặc biệt cho pin Lithium-Ion (Li-Ion), cũng là loại thường dùng nhất. Những loại pin khác có thể khác.</p>
</note>

</page>
