<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task a11y" id="a11y-mag" xml:lang="lt">

  <info>
    <link type="guide" xref="a11y#vision" group="lowvision"/>

    <revision pkgversion="3.7.1" date="2012-11-10" status="outdated"/>
    <revision pkgversion="3.9.92" date="2013-09-18" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.33.3" date="2019-07-21" status="final"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <desc>Zoom in on your screen so that it is easier to see things.</desc>
  </info>

  <title>Išdidinti ekrano dalį</title>

  <p>Magnifying the screen is different than just enlarging the
  <link xref="a11y-font-size">text size</link>. This feature is like having a
  magnifying glass, allowing you to move around by zooming in on parts of the
  screen.</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Accessibility</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Accessibility</gui> to open the panel.</p>
    </item>
    <item>
      <p>Select the <gui>Zoom</gui> section to open it.</p>
    </item>
    <item>
      <p>Switch the <gui>Desktop Zoom</gui> switch to on.</p>
    </item>
  </steps>

  <p>You can now move around the screen area. By moving your mouse to the edges
  of the screen, you will move the magnified area in different directions,
  allowing you to view your area of choice.</p>

  <note style="tip">
    <p>You can quickly turn zoom on and off by clicking the
    <link xref="a11y-icon">accessibility icon</link> on the top bar and
    selecting <gui>Zoom</gui>.</p>
  </note>

  <p>You can change the magnification factor, the mouse tracking, and the
  position of the magnified view on the screen. Adjust these in the
  <gui>Magnifier</gui> section.</p>

  <p>You can activate crosshairs to help you find the mouse or touchpad
  pointer. Switch them on and adjust their length, color, and thickness in the
  <gui>Crosshairs</gui> section.</p>

  <p>You can switch to inverted colors video, and adjust
  brightness, contrast and color options for the magnifier in the
  <gui>Color Filters</gui> section. The combination of these options is
  useful for people with low-vision, any degree of photophobia, or just
  for using the computer under adverse lighting conditions.</p>

</page>
