<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="about" xml:lang="lt">

  <info>
    <link type="guide" xref="prefs"/>

    <revision pkgversion="44.0" date="2023-02-04" status="draft"/>

    <credit type="author">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <title type="link" role="trail">Accounts</title>
    <desc>View information about your system.</desc>
  </info>

  <title>About</title>

  <p>You can find out information about the hardware and OS on your system in
  the <app>About</app> window. Change the name used to identify your system on
  the network or with Bluetooth.</p>

  <links type="topic" groups="hostname hardware os #first #default #last"/>

</page>
