<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="files-removedrive" xml:lang="lt">

  <info>
    <link type="guide" xref="files#removable"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>

    <revision pkgversion="3.6.0" version="0.2" date="2012-10-08" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Eject or unmount a USB flash drive, CD, DVD, or other device.</desc>
  </info>

  <title>Safely remove an external drive</title>

  <p>When you use external storage devices like USB flash drives, you
  should safely remove them before unplugging them. If you just unplug
  a device, you run the risk of unplugging while an application is still
  using it. This could result in some of your files being lost or damaged.
  When you use an optical disc like a CD or DVD, you can use the same steps
  to eject the disc from your computer.</p>

  <steps>
    <title>To eject a removable device:</title>
    <item>
      <p>From the <gui xref="shell-introduction#activities">Activities</gui> overview,
      open <app>Files</app>.</p>
    </item>
    <item>
      <p>Locate the device in the sidebar. It should have a small eject icon
      next to the name. Click the eject icon to safely remove or eject the
      device.</p>
      <p>Alternately, you can right-click the name of the device in the sidebar
      and select <gui>Eject</gui>.</p>
    </item>
  </steps>

  <section id="remove-busy-device">
    <title>Safely remove a device that is in use</title>

  <p>If any of the files on the device are open and in use by an application,
  you will not be able to safely remove the device. You will be prompted with a
  window telling you <gui>Volume is busy</gui>. To safely remove the device:</p>

  <steps>
    <item><p>Click <gui>Cancel</gui>.</p></item>
    <item><p>Close all the files on the device.</p></item>
    <item><p>Click the eject icon to safely remove or eject the
    device.</p></item>
    <item><p>Alternately, you can right-click the name of the device in the
    sidebar and select <gui>Eject</gui>.</p></item>
  </steps>

  <note style="warning"><p>You can also choose <gui>Eject Anyway</gui> to
  remove the device without closing the files. This may cause errors in
  applications that have those files open.</p></note>

  </section>

</page>
