<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:uix="http://projectmallard.org/experimental/ui/" type="guide" style="task" id="media" xml:lang="lt">
  <info>

    <link type="guide" xref="index" group="media"/>
    
    <revision version="gnome:42" status="final" date="2022-02-26"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

   <title type="link" role="trail">Media</title>
   <desc>Manage your sound devices, use your media files, connect to external
   devices, and more.</desc>
   <uix:thumb role="experimental-gnome-tiles" src="figures/tile-media.svg"/>
   <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>
  
<title>Sound and media</title>

<section id="sound" style="2column">
 <info>
   <title type="sort">Sound</title>
   <title type="link" role="trail">Sound</title>
   <title type="link" role="topic">Sound</title>
   <desc>Adjust the volume for different apps, and configure different
   speakers and microphones.</desc>
   <link type="guide" xref="prefs"/>
 </info>
 <title>Basic sound</title>
</section>

<section id="music" style="2column">
 <info><title type="link">Music, video &amp; devices</title></info>
 <title>Music, video &amp; devices</title>
</section>

</page>
