<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="tip" id="power-batterylife" xml:lang="lt">

  <info>
    <link type="guide" xref="power"/>
    <link type="seealso" xref="power-suspend"/>
    <link type="seealso" xref="shell-exit#suspend"/>
    <link type="seealso" xref="shell-exit#shutdown"/>
    <link type="seealso" xref="display-brightness"/>
    <link type="seealso" xref="power-whydim"/>

    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-07" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.20" date="2016-06-15" status="final"/>
    <revision pkgversion="41" date="2021-09-08" status="final"/>

    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Tips to reduce the power consumption of your computer.</desc>
  </info>

  <title>Use less power and improve battery life</title>

  <p>Computers can use a lot of power. By using some simple energy-saving
  strategies, you can reduce your energy bill and help the environment.</p>

<section id="general">
  <title>General tips</title>

<list>
  <item>
    <p><link xref="shell-exit#suspend">Suspend your computer</link> when you
    are not using it. This significantly reduces the amount of power it uses,
    and it can be woken up very quickly.</p>
  </item>
  <item>
    <p><link xref="shell-exit#shutdown">Turn off</link> the computer when you
    will not be using it for longer periods. Some people worry that turning off
    a computer regularly may cause it to wear out faster, but this is not the
    case.</p>
  </item>
  <item>
    <p>Use the <gui>Power</gui> panel in <app>Settings</app> to change your
    power settings. There are a number of options that will help to save power:
    you can <link xref="display-blank">automatically blank the screen</link>
    after a certain time, enable the <gui>Automatic <link xref="power-profile">Power
    Saver</link></gui> mode when the battery is low, and have the computer
    <link xref="power-autosuspend">automatically suspend</link> if you have not
    used it for a certain period of time.</p>
  </item>
  <item>
    <p>Reduce the <link xref="display-brightness">screen brightness</link>.</p>
  </item>
  <item>
    <p>Turn off any external devices (like printers and scanners) when you are
    not using them.</p>
  </item>
</list>

</section>

<section id="laptop">
  <title>Laptops, netbooks, and other devices with batteries</title>

 <list>
   <item>
     <p>Reduce the <link xref="display-brightness">screen
     brightness</link>. Powering the screen accounts for a significant fraction
     of a laptop power consumption.</p>
     <p>Most laptops have buttons on the keyboard (or a keyboard shortcut) that
     you can use to reduce the brightness.</p>
   </item>
   <item>
     <p>If you do not need an Internet connection for a little while, <link xref="power-wireless">turn off
     the wireless or Bluetooth cards</link>. These devices work by broadcasting radio
     waves, which takes quite a bit of power.</p>
     <p>Some computers have a physical switch that can be used to turn it off,
     whereas others have a keyboard shortcut that you can use instead. You can
     turn it on again when you need it.</p>
   </item>
 </list>

</section>

<section id="advanced">
  <title>More advanced tips</title>

 <list>
   <item>
     <p>Reduce the number of tasks that are running in the background.
     Computers use more power when they have more work to do.</p>
     <p>Most of your running applications do very little when you are not
     actively using them. However, applications that frequently grab data from
     the internet or play music or movies can impact your power consumption.</p>
   </item>
 </list>

</section>

</page>
