<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="sound-volume" xml:lang="lt">

  <info>
    <link type="guide" xref="media#sound" group="#first"/>

    <revision version="gnome:46" status="final" date="2024-04-06"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Set the sound volume for the computer and control the
    loudness of each application.</desc>
  </info>

<title>Keisti garso stiprumą</title>

  <p>To change the sound volume, open the
  <gui xref="shell-introduction#systemmenu">system menu</gui> from the right
  side of the top bar and move the volume slider left or right. You can
  completely turn off sound by dragging the slider to the left.</p>
 
  <note style="tip">
    <p>If you hover over the volume icon in the top bar or the slider in the
    system menu, the volume can be controlled by scrolling the mouse wheel or
    touchpad.</p>
  </note>

  <p>Some keyboards have keys that let you control the volume. They normally
  look like stylized speakers with waves coming out of them. They are often
  near the “F” keys at the top. On laptop keyboards, they are usually on the
  “F” keys.  Hold down the <key>Fn</key> key on your keyboard to use them.</p>

  <p>If you have external speakers, you can also change the volume
  using the speakers’ volume control. Some headphones have a
  volume control too.</p>

<section id="apps">
 <title>Changing the sound volume for individual applications</title>

  <p>You can change the volume for one application and leave the volume for
  others unchanged. This is useful if you are listening to music and browsing
  the web, for example. You might want to turn off the audio in the web browser
  so sounds from websites do not interrupt the music.</p>

  <p>Some applications have volume controls in their main windows. If your
  application has its volume control, use that to change the volume. If not:</p>

    <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui>
      overview and start typing <gui>Sound</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Sound</gui> to open the panel.</p>
    </item>
    <item>
      <p>In the <gui>Sounds</gui> section, click <gui>Volume Levels</gui>.</p>
    </item>
    <item>
      <p>Use the volume slider for each application to set its volume. Click the
      speaker button next to the slider to mute or unmute the application.</p>

  <note style="tip">
    <p>Only applications that are playing sounds are listed. If an
    application is playing sounds but is not listed, it might not support the
    feature that lets you control its volume in this way. In such a case, you
    cannot change its volume.</p>
  </note>
    </item>

  </steps>

</section>

</page>
