<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-calibrationtargets" xml:lang="nl">

  <info>

    <link type="guide" xref="color#calibration"/>

    <desc>Kalibratiedoelen zijn nodig om scanner- en cameraprofielen aan te kunnen maken.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Justin van Steijn</mal:name>
      <mal:email>jvs@fsfe.org</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hannie Dumoleyn</mal:name>
      <mal:email>hannie@ubuntu-nl.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nathan Follens</mal:name>
      <mal:email>nfollens@gnome.org</mal:email>
      <mal:years>2022</mal:years>
    </mal:credit>
  </info>

  <title>Welke doeltypen worden ondersteund?</title>

  <p>De volgende doeltypen worden ondersteund:</p>

  <list>
    <item><p>CMP DigitalTarget</p></item>
    <item><p>ColorChecker 24</p></item>
    <item><p>ColorChecker DC</p></item>
    <item><p>ColorChecker SG</p></item>
    <item><p>i1 RGB Scan 14</p></item>
    <item><p>LaserSoft DC Pro</p></item>
    <item><p>QPcard 201</p></item>
    <item><p>IT8.7/2</p></item>
  </list>

  <note style="tip">
    <p>U kunt doelen kopen van bekende leveranciers zoals KODAK, X-Rite en LaserSoft in verschillende online winkels .</p>
    <p>U kunt ook doelen kopen bij <link href="http://www.targets.coloraid.de/">Wolf Faust</link> voor een zeer redelijke prijs.</p>
  </note>

</page>
