<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-calibrationtargets" xml:lang="cs">

  <info>

    <link type="guide" xref="color#calibration"/>

    <desc>Pro vytvoření profilu skeneru a fotoaparátu jsou zapotřebí kalibrační obrazce.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Adam Matoušek</mal:name>
      <mal:email>adamatousek@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  </info>

  <title>Které typy kalibračních obrazců jsou podporovány?</title>

  <p>Podporovány jsou následující typy kalibračních obrazců:</p>

  <list>
    <item><p>CMP DigitalTarget</p></item>
    <item><p>ColorChecker 24</p></item>
    <item><p>ColorChecker DC</p></item>
    <item><p>ColorChecker SG</p></item>
    <item><p>i1 RGB Scan 14</p></item>
    <item><p>LaserSoft DC Pro</p></item>
    <item><p>QPcard 201</p></item>
    <item><p>IT8.7/2</p></item>
  </list>

  <note style="tip">
    <p>Kalibrační obrazce od renomovaných výrobců, jako je KODAK, X-Rite nebo LaserSoft, si můžete objednat v řadě e-obchodů.</p>
    <p>Případně si můžete za velmi výhodnou cenu koupit obrazec <link href="http://www.targets.coloraid.de/">Wolf Faust</link>.</p>
  </note>

</page>
