<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="user-autologin" xml:lang="he">

  <info>
    <link type="guide" xref="user-accounts#manage"/>
    <link type="seealso" xref="shell-exit"/>

    <revision pkgversion="3.33.3" date="2019-07-21" status="final"/>
    <revision version="gnome:42" status="final" date="2022-04-02"/>

    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Set up automatic login for when you switch on your computer.</desc>
  </info>

  <title>Log in automatically</title>

  <p>You can change your settings so that you are automatically logged in to
  your account when you start up your computer:</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>System</gui>.</p>
    </item>
    <item>
      <p>Select <guiseq><gui>Settings</gui><gui>System</gui></guiseq> from the
      results. This will open the <gui>System</gui> panel.</p>
    </item>
    <item>
      <p>Select <gui>Users</gui> to open the panel.</p>
    </item>
    <item>
      <p>Press <gui style="button">Unlock</gui> in the top right corner and
      type in your password when prompted.</p>
    </item>
    <item>
      <p>If it is a different user account that you want to log into
      automatically, select the account under <gui>Other Users</gui>.</p>
    </item>
    <item>
      <p>Switch the <gui>Automatic Login</gui> switch to on.</p>
    </item>
  </steps>

  <p>When you next start up your computer, you will be logged in automatically.
  If you have this option enabled, you will not need to type in your password
  to log in to your account which means that if someone else starts up your
  computer, they will be able to access your account and your personal data
  including your files and browser history.</p>

  <note>
    <p>If your account type is <em>Standard</em>, you cannot change this
    setting. Contact your system administrator who can change this setting
    for you.</p>
  </note>

</page>
