<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="wacom-multi-monitor" xml:lang="he">

  <info>
    <revision version="gnome:46" date="2024-03-10" status="final"/>

    <link type="guide" xref="wacom"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2015</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Map the Wacom tablet to a specific monitor.</desc>
  </info>

  <title>Choose a monitor</title>

<steps>
  <item>
    <p>Open the <gui xref="shell-introduction#activities">Activities</gui>
    overview and start typing <gui>Wacom Tablet</gui>.</p>
  </item>
  <item>
    <p>Click on <gui>Wacom Tablet</gui> to open the panel.</p>
    <note style="tip"><p>If no tablet is detected, you’ll be asked to
    <gui>Please plug in or turn on your Wacom tablet</gui>. Click
    <gui>Bluetooth</gui> in the sidebar to connect a wireless tablet.</p></note>
  </item>
  <item>
    <p>Click <gui>Map to Monitor</gui> and select the monitor you wish to
    receive input from your graphics tablet, or choose
    <gui>All Displays</gui>.</p>
    <note style="tip"><p>Only the monitors that are configured will be
    selectable.</p></note>
  </item>
  <item>
    <p>Switch <gui>Keep aspect ratio</gui> to on to match the drawing
    area of the tablet to the proportions of the monitor. This setting, also
    called <em>force proportions</em>, “letterboxes” the drawing area on a
    tablet to correspond more directly to a display. For example, a 4∶3 tablet
    would be mapped so that the drawing area would correspond to a widescreen
    display.</p>
  </item>
</steps>

</page>
