<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="software" xml:lang="sv">

  <info>
    <link type="guide" xref="index"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="extensions">GNOME Shell-tillägg</link>, <link xref="mime-types">MIME-typer</link>, <link xref="mime-types-application">åsidosätta standardprogram</link>…</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2017, 2023</mal:years>
    </mal:credit>
  </info>

  <title>Programvara</title>

<!--<section id="application">
  <title>Application</title>
  <links style="2column" type="topic"/>
</section>-->

<section id="extension">
  <title>Tillägg</title>
  <links style="2column" type="topic"/>
</section>

<section id="management">
  <title>Hantering</title>
  <links style="2column" type="topic"/>
</section>

</page>
