<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="files-preview" xml:lang="id">

  <info>
    <link type="guide" xref="files#common-file-tasks"/>
    <link type="seealso" xref="nautilus-preview"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-10-06" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Dengan cepat tampilkan dan sembunyikan pratilik bagi dokumen, gambar, video, dan lainnya.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2011-2014, 2017, 2020-2024.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ahmad Haris</mal:name>
      <mal:email>ahmadharis1982@gmail.com</mal:email>
      <mal:years>2017.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rofiquzzaki</mal:name>
      <mal:email>babisayabundar@gmail.com</mal:email>
      <mal:years>2022.</mal:years>
    </mal:credit>
  </info>

<title>Pratinjau berkas dan folder</title>

<note if:test="platform:ubuntu" style="important">
  <p>Anda harus memasang <app>Sushi</app> pada komputer Anda untuk melakukan langkah-langkah ini.</p>
  <p its:locNote="Translators: This button is only shown on Ubuntu, where this   link format is preferred over 'install:gnome-sushi'."><link style="button" href="apt:gnome-sushi">Pasang <app>Sushi</app></link></p>
</note>

<p>Anda dapat mempratinjau dengan cepat berkas-berkas tanpa membuka mereka dalam suatu aplikasi penuh. Pilih sebarang berkas dan tekan bilah spasi. Berkas akan dibuka dalam suatu jendela pratinjau sederhana. Tekan bilah spasi lagi untuk menutup pratinjau.</p>

<p>Pratinjau bawaan mendukung kebanyakan format berkas bagi dokumen, citra, video, dan audio. Dalam pratinjau, Anda dapat menggulung dalam dokumen Anda atau melompat dalam video dan audio Anda.</p>

<p>Untuk melihat pratinjau layar penuh, tekan <key>F</key> atau <key>F11</key>. Tekan <key>F</key> atau <key>F11</key> lagi untuk meninggalkan layar penuh, atau tekan spasi untuk keluar dari pratinjau sepenuhnya.</p>

</page>
