<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="about" xml:lang="ko">

  <info>
    <link type="guide" xref="prefs"/>

    <revision pkgversion="44.0" date="2023-02-04" status="draft"/>

    <credit type="author">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <title type="link" role="trail">계정</title>
    <desc>시스템 정보를 봅니다.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2021, 2022, 2023</mal:years>
    </mal:credit>
  </info>

  <title>정보</title>

  <p>시스템에 설치한 하드웨어와 운영체제 정보는 <app>정보</app>창에서 찾아볼 수 있습니다. 네트워크 또는 블루투스 장치에서 식별할 시스템 식별 이름을 바꿉니다.</p>

  <links type="topic" groups="hostname hardware os #first #default #last"/>

</page>
