<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-gettingprofiles" xml:lang="ko">

  <info>
    <link type="guide" xref="color#profiles"/>
    <link type="seealso" xref="color-why-calibrate"/>
    <link type="seealso" xref="color-whatisprofile"/>
    <link type="seealso" xref="color-missingvcgt"/>
    <desc>색 프로파일은 제조사에서 제공하거나 사용자 자신이 만들 수 있습니다.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2021, 2022, 2023</mal:years>
    </mal:credit>
  </info>

  <title>색 프로파일은 어디서 가져오나요?</title>

  <p>프로파일을 얻는 가장 좋은 방법은 약간의 초기 비용이 좀 들어간다 하더라도 직접 프로파일을 만들어내는 방식입니다.</p>
  <p>대부분 제조사는 다운로드, 압축 해제 후 색 프로파일을 검색할 수 있는 <em>드라이버 번들</em>에 가끔은 장치 색 프로파일을 넣어주는 방식으로 제공해주려 합니다.</p>
  <p>일부 제조사에서는 하드웨어에 대한 정확한 프로파일을 제공하지 않으며, 프로파일을 사용하지 않는게 가장 좋기도 합니다. 적절한 방식은 프로파일을 다운로드한 후, 제품 구매일자 보다 프로파일 생성 일자가 1년 이상 더 오래된 프로파일이라면 제조사에서 만들어 배포하는 데이터가 쓸모없을 가능성이 높습니다.</p>

  <p>제조사 제공 프로파일이 쓸모 없기보단 나은 이유를 살펴보려면 <link xref="color-why-calibrate"/> 을(를) 살펴봅니다.</p>

</page>
