<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-calibrationtargets" xml:lang="ko">

  <info>

    <link type="guide" xref="color#calibration"/>

    <desc>보정 대상은 스캐너 및 카메라 프로파일링 수행에 필요합니다.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2021, 2022, 2023</mal:years>
    </mal:credit>
  </info>

  <title>어떤 대상 형식을 지원하나요?</title>

  <p>다음 방식의 대상을 지원합니다:</p>

  <list>
    <item><p>CMP DigitalTarget</p></item>
    <item><p>ColorChecker 24</p></item>
    <item><p>ColorChecker DC</p></item>
    <item><p>ColorChecker SG</p></item>
    <item><p>i1 RGB Scan 14</p></item>
    <item><p>LaserSoft DC Pro</p></item>
    <item><p>QPcard 201</p></item>
    <item><p>IT8.7/2</p></item>
  </list>

  <note style="tip">
    <p>다양한 온라인 상점에서 코닥, X-Rite, LaserSoft와 같은 잘 알려진 제조사의 제품을 구매할 수 있습니다.</p>
    <p>대신 <link href="http://www.targets.coloraid.de/">Wolf Faust</link>에서 적절한 가격대로 대상 제품을 구매할 수도 있습니다.</p>
  </note>

</page>
