<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="keyboard" xml:lang="ko">
  <info>

    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.8.0" date="2013-03-10" status="candidate"/>
    <revision version="gnome:46" status="candidate" date="2024-03-02"/>

    <desc>전세계 키보드 배치를 선택하고, 키보드 접근성 기능을 활용합니다.</desc>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
       <name>Julita Inca</name>
       <email>yrazes@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2021, 2022, 2023</mal:years>
    </mal:credit>
  </info>

<title>키보드</title>

<links type="topic" groups="i18n" style="linklist">
  <title>국가 및 언어</title>
</links>

<links type="topic" groups="a11y" style="linklist">
  <title>접근성</title>
</links>

<links type="topic" groups="#first #default #last" style="linklist">
  <title>기타 주제</title>
</links>

</page>
