<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="files-preview" xml:lang="it">

  <info>
    <link type="guide" xref="files#common-file-tasks"/>
    <link type="seealso" xref="nautilus-preview"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-10-06" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Mostrare e nascondere rapidamente anteprime per documenti, immagini, video e altro.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Luca Ferretti</mal:name>
      <mal:email>lferrett@gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Flavia Weisghizzi</mal:name>
      <mal:email>flavia.weisghizzi@ubuntu.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

<title>Anteprime di file e cartelle</title>

<note if:test="platform:ubuntu" style="important">
  <p>You need to have <app>Sushi</app> installed on your computer to perform
  these steps.</p>
  <p its:locNote="Translators: This button is only shown on Ubuntu, where this   link format is preferred over 'install:gnome-sushi'."><link style="button" href="apt:gnome-sushi">Install <app>Sushi</app></link></p>
</note>

<p>È possibile avere una rapida anteprima dei file senza aprirli in un'applicazione "full feature". Selezionare un file e premere la barra spaziatrice. Il file verrà aperto in una semplice finestra d'anteprima. Premere nuovamente la barra spaziatrice per chiudere l'anteprima.</p>

<p>L'anteprima supporta molti formati di file per documenti, immagini, video e audio. Nell'anteprima è possible scorrere i documenti o spostarsi avanti e indietro nella riproduzione di video e audio.</p>

<p>To view a preview full-screen, press <key>F</key> or <key>F11</key>. Press
<key>F</key> or <key>F11</key> again to leave full-screen, or press the space
bar to exit the preview completely.</p>

</page>
