<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="color-why-calibrate" xml:lang="fi">

  <info>
    <link type="guide" xref="color#calibration"/>
    <desc>Kalibrointi on tärkeää, jos välität näytettävistä tai tulostettavista väreistä.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Timo Jyrinki</mal:name>
      <mal:email>timo.jyrinki@iki.fi</mal:email>
      <mal:years>2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jiri Grönroos</mal:name>
      <mal:email>jiri.gronroos+l10n@iki.fi</mal:email>
      <mal:years>2012-2023.</mal:years>
    </mal:credit>
  </info>

  <title>Miksi minun pitää tehdä kalibrointi itse?</title>

  <p>Yleisprofiilit ovat yleensä huonoja. Kun valmistaja tekee uuden mallin, he ottavat vain muutaman näytteen tuotantolinjalta ja keskiarvoistavat ne.</p>

  <media its:translate="no" type="image" src="figures/color-average.png">
    <p its:translate="yes">Keskiarvoistetut profiilit</p>
  </media>

  <p>Näyttöpaneelien sävyt voivat vaihdella melko paljon yksilöstä toiseen, ja myös näytön vanhetessa. Tulostimien tapauksessa lisähankaluuksia tuovat erilaiset mahdolliset paperityypit ja -painot, jotka voivat tehdä tehdä karakterisointitilasta epäkelvon ja profiilista epätarkan.</p>

  <p>Paras tapa varmistaa profiilin tarkkuus on tehdä kalibrointi joko itse tai ulkopuolisen yrityksen suorittamana.</p>

</page>
