<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="keyboard-key-menu" xml:lang="fi">

  <info>
    <link type="guide" xref="keyboard" group="a11y"/>
    <link type="seealso" xref="shell-keyboard-shortcuts"/>
    <link type="seealso" xref="a11y#mobility" group="keyboard"/>

    <revision pkgversion="3.7.91" version="0.2" date="2013-03-16" status="new"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>

    <credit type="author">
      <name>Juanjo Marín</name>
      <email>juanj.marin@juntadeandalucia.es</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><key>Menu</key>-näppäin avaa näppäimistöllä kontekstivalikon hiiren oikean painikkeella napsauttamisen sijaan.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Timo Jyrinki</mal:name>
      <mal:email>timo.jyrinki@iki.fi</mal:email>
      <mal:years>2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jiri Grönroos</mal:name>
      <mal:email>jiri.gronroos+l10n@iki.fi</mal:email>
      <mal:years>2012-2023.</mal:years>
    </mal:credit>
  </info>

  <title>Mikä on <key>Menu</key>-näppäin?</title>

  <p>The <key>Menu</key> key, also known as the <em>Application</em> key, is a
  key found on some Windows-oriented keyboards. This key is usually on the
  bottom-right of the keyboard, next to the <key>Ctrl</key> key, but it can be
  placed in a different location by keyboard manufacturers. It is usually
  depicted as a cursor hovering above a menu:
  <media its:translate="no" type="image" mime="image/svg" src="figures/keyboard-key-menu.svg">
  <key>Menu</key> key icon</media>.</p>

  <p>The primary function of this key is to launch a context menu with the
  keyboard rather than by clicking the right mouse button: this is useful if
  mouse or a similar device is not available, or when the right mouse button is
  not present.</p>

  <p>The <key>Menu</key> key is sometimes omitted in the interest of space,
  particularly on portable and laptop keyboards. In this case, some keyboards
  include a <key>Menu</key> function key that can be activated in combination
  with the Function (<key>Fn</key>) key.</p>

  <p>The <em>context menu</em> is a menu that pops up when you right-click. The
  menu that you see, if any, is dependent on the context and function of the
  area that you right-clicked. When you use the <key>Menu</key> key, the
  context menu is shown for the area of the screen that your cursor is over at
  the point when the key is pressed.</p>

</page>
