<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="backup-check" xml:lang="lv">

  <info>
    <link type="guide" xref="files#backup"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>GNOME dokumentācijas projekts</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>David King</name>
      <email>davidk@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Pārbaudiet, vai jūsu rezerves kopijas veidošana bija veiksmīga.</desc>
  </info>

  <title>Pārbaudiet savas rezerves kopijas.</title>

  <p>Kad esat izveidojuši rezerves kopiju savām datnēm, jums vajadzētu pārliecināties, vai kopijas veidošana bijusi veiksmīga. Ja tā nestrādās pareizi, jūs varat pazaudēt svarīgus datus, jo dažas datnes var nebūt nodublētas.</p>

   <p>Kad izmantojat <app>Datnes</app>, lai kopētu vai pārvietotu datnes, dators pārliecinās, vai visi dati ir pārsūtīti pareizi. Tomēr, ja pārsūtīsiet datus, kuri ir ļoti svarīgi, jūs varētu vēlēties pārbaudīt, vai dati tikuši pārsūtīti pareizi.</p>

  <p>Jūs varat pārliecināties, ka datnes ir pārsūtītas, apskatot kopētās datnes un mapes mērķa datu nesējā. Veicot šādu pārbaudi, jums būs lielāka pārliecība, ka pārsūtītās datnes un mapes tik tiešām ir nonākušas galamērķī.</p>

  <note style="tip"><p>Ja konstatējat, ka jums jāveic regulāras rezerves kopijas lielam apjomam datu, jums ērtāk varētu būt izmantot speciālu rezerves kopiju veidošanas programmu, tādu kā <app>Déjà Dup</app>. Tāda programma ir daudz iespējām bagātāka un uzticamāka nekā vienkārši datņu kopēšana un ielīmēšana.</p></note>

</page>
