<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-whatisprofile" xml:lang="lv">

  <info>
    <link type="guide" xref="color#profiles"/>
    <desc>Krāsu profils ir vienkārša datne, kas raksturo krāsu telpu vai ierīces krāsu atbildi.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Kas ir krāsu profils?</title>

  <p>Krāsu profils ir datu kopa, kas raksturo vai nu tādu ierīci kā projektors vai arī krāsu telpu kā sRGB.</p>
  <p>Lielākā daļa krāsu profilu ir CC profilu formā, kas parasti ir maza datne ar <input>.ICC</input> vai <input>.ICM</input> nosaukuma paplašinājumu.</p>
  <p>Krāsu profili var tikt iegulti attēlos, lai raksturotu datu gamuta apgabalu. Tas nodrošina, ka lietotāji redz tās pašas krāsas uz dažādām ierīcēm.</p>
  <p>Katrai ierīcei, kas apstrādā krāsas vajadzētu būt savam ICC profilam un, kad tas tiek sasniegts tāda sistēma, tiek saukta par <em>pilnvērtīga krāsu pārvaldīta darbplūsma</em>. Ar šāda veida darbplūsmu jūs varat būt pārliecināti, ka krāsas netiks pazaudētas vai izmainītas.</p>

</page>
