<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="color-why-calibrate" xml:lang="lv">

  <info>
    <link type="guide" xref="color#calibration"/>
    <desc>Kalibrēšana ir svarīga, ja jums ir svarīgi, kā izskatās krāsas uz ekrāna vai izdrukājot.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Kāpēc man pašam ir jāveic kalibrēšana?</title>

  <p>Vispārīgie profili parasti ir slikti. Kad ražotājs izlaiž jaunu modeli, no ražošanas līnijas tiek paņemti tikai daži paraugi un no to mērījumiem tiek paņemts vidējais:</p>

  <media its:translate="no" type="image" src="figures/color-average.png">
    <p its:translate="yes">Vidējie profili</p>
  </media>

  <p>Displeja paneļi būtiski savā starpā atšķiras un ar laiku būtiski mainās. Arī printeriem tas ir grūtāk — papīra tipa vai svara maiņa raksturošanas stāvokli var padarīt nederīgu un padarīt profilu neprecīzu.</p>

  <p>Labākais veids, kā nodrošināt, ka profils ir pareizs, ir pašam veikt kalibrēšanu, vai ļaut trešās puses firmai piegādāt profilus, kas tiek veidoti no precīzi izveidota raksturojoša stāvokļa.</p>

</page>
