<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="color-howtoimport" xml:lang="lv">

  <info>
    <link type="guide" xref="color#profiles"/>
    <link type="seealso" xref="color-whatisprofile"/>
    <link type="seealso" xref="color-assignprofiles"/>

    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-04" status="review"/>
    <revision pkgversion="3.28" date="2018-04-05" status="review"/>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Krāsu profilus var importēti, tos vienkārši atverot.</desc>
  </info>

  <title>Kā lai es importēju krāsu profilus?</title>

  <p>Profilu var importēt ar dubultklikšķi <input>.ICC</input> vai <input>.ICM</input> uz datnēm datņu pārlūkā.</p>

  <p>Vai arī varat pārvaldīt krāsas caur <gui>Krāsas</gui> paneli.</p>

  <steps>
    <item>
      <p>Atveriet <gui xref="shell-introduction#activities">aktivitāšu</gui> pārskatu un sāciet rakstīt <gui>Iestatījumi</gui>.</p>
    </item>
    <item>
      <p>Spiediet <gui>Iestatījumi</gui>.</p>
    </item>
    <item>
      <p>Sānu joslā spiediet <gui>Krāsa</gui>, lai atvērtu paneli.</p>
    </item>
    <item>
      <p>Izvēlieties savu ierīci.</p>
    </item>
    <item>
      <p>Spiediet <gui>Pievienot profilu</gui>, lai izvēlētos esošu profilu vai importēt profilu.</p>
    </item>
    <item>
      <p>Spiediet <gui>Pievienot</gui>, lai apstiprinātu izvēli.</p>
    </item>
  </steps>

  <p>Displeja ražotājs var piegādāt profilu, ko varat izmantot. Parasti šie profili tiek veidoti vidējam displejam, tāpēc tie varētu pilnībā neatbilst tieši jūsējam. Lai iegūtu labāko kalibrāciju, jums vajadzētu <link xref="color-calibrate-screen">izveidot pašiem savu profilu</link>, izmantojot kolorimetru vai spektrofotometru.</p>

</page>
