<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="sharing-bluetooth" xml:lang="lv">

  <info>
    <link type="guide" xref="bluetooth"/>
    <link type="guide" xref="sharing"/>
    <link type="guide" xref="prefs-sharing"/>

    <revision pkgversion="3.8.2" date="2013-05-13" status="draft"/>
    <revision pkgversion="3.10" date="2013-11-09" status="review"/>
    <revision pkgversion="3.12" date="2014-03-08" status="candidate"/>
    <revision pkgversion="3.14" date="2014-10-13" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2014</years>
    </credit>
    <credit type="author">
      <name>David King</name>
      <email>davidk@gnome.org</email>
      <years>2014-2015</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Ļaut augšupielādēt datnes uz jūsu datoru caur Bluetooth.</desc>
  </info>

  <title>Kontrolēt koplietošanu caur Bluetooth</title>

  <p>Jūs varat ieslēgt <gui>Bluetooth</gui> koplietošanu, lai saņemtu datnes caur Bluetooth mapē <file>Lejupielādes</file></p>

  <steps>
    <title>Ļaut koplietot datnes savā <file>Lejupielāžu</file> mapē</title>
    <item>
      <p>Atveriet <gui xref="shell-introduction#activities">Aktivitāšu</gui> pārskatu un sāciet rakstīt <gui>Bluetooth</gui>.</p>
    </item>
    <item>
      <p>Spiediet <gui>Bluetooth</gui>, lai atvērtu paneli.</p>
    </item>
    <item>
      <p>Pārliecinieties, ka <link xref="bluetooth-turn-on-off"><gui>Bluetooth</gui> ir ieslēgts</link>.</p>
    </item>
    <item>
      <p>Ierīces ar Bluetooth var sūtīt datnes uz jūsu mapi <file>Lejupielādes</file>, kad ir atvērts <gui>Bluetooth</gui> panelis.</p>
    </item>
  </steps>

  <note style="tip">
    <p>You can <link xref="about-hostname">change</link> the name your
    computer displays to other devices.</p>
  </note>

</page>
