<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="appearance" xml:lang="hu">

  <info>
    <link type="guide" xref="index" group="appearance"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="desktop-shield">A zárolási képernyő védőlapjának megváltoztatása</link>, <link xref="desktop-favorite-applications">alapértelmezett kedvenc alkalmazások</link>, <link xref="desktop-lockscreen">a képernyő zárolása tétlenségkor</link>…</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Úr Balázs</mal:name>
      <mal:email>ur.balazs at fsf dot hu</mal:email>
      <mal:years>2018, 2019, 2020, 2021, 2023, 2024.</mal:years>
    </mal:credit>
  </info>

  <title>Megjelenés</title>
</page>
