<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="files-preview" xml:lang="mr">

  <info>
    <link type="guide" xref="files#common-file-tasks"/>
    <link type="seealso" xref="nautilus-preview"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-10-06" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>दस्तऐवज, प्रतिमा, व्हिडीओज, आणि अधिककरिता पटकन पूर्वावलोकनज दाखवा आणि लपवा.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aniket Deshpande &lt;djaniketster@gmail.com&gt;, 2013; संदिप शेडमाके</mal:name>
      <mal:email>sshedmak@redhat.com</mal:email>
      <mal:years>२०१३.</mal:years>
    </mal:credit>
  </info>

<title>फाइल आणि फोल्डर्सचे अवलोकन करा</title>

<note if:test="platform:ubuntu" style="important">
  <p>You need to have <app>Sushi</app> installed on your computer to perform
  these steps.</p>
  <p its:locNote="Translators: This button is only shown on Ubuntu, where this   link format is preferred over 'install:gnome-sushi'."><link style="button" href="apt:gnome-sushi">Install <app>Sushi</app></link></p>
</note>

<p>ॲप्लिकेशनमध्ये न उघडता तुम्ही पटकन फाइल्सचे पूर्वावलोकन करू शकता. कोणतिही फाइल निवडा आणि स्पेसवार दाबा. फाइल सोप्या प्रिव्हयु पटलात उघडेल. पूर्वावलोकन टाळण्याकरिता स्पेसबार दाबा.</p>

<p>बिल्टइन पूर्वावलोकन आत्ता दस्तऐवज, प्रतिमा, व्हिडीओ, आणि ऑडिओकरिता बहुतांश फाइल रूपणकरिता समर्थन पुरवतात. पूर्वावलोकनमध्ये, तुम्ही दस्तऐवज चाळू शकता किंवा व्हिडीओ आणि ऑडिओ सीक करू शकता.</p>

<p>To view a preview full-screen, press <key>F</key> or <key>F11</key>. Press
<key>F</key> or <key>F11</key> again to leave full-screen, or press the space
bar to exit the preview completely.</p>

</page>
