<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="shell-apps-favorites" xml:lang="mr">

  <info>
    <link type="seealso" xref="shell-apps-open"/>
    <link type="guide" xref="shell-overview#desktop"/>

    <revision pkgversion="3.6.0" date="2012-10-14" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>

    <credit type="author">
      <name>GNOME डॉक्युमेंटेशन प्रकल्प</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Jana Svarova</name>
      <email>jana.svarova@gmail.com</email>
      <years>२०१३</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>डॅशवरील वारंवार-वापरले जाणारे प्रोग्राम चिन्हांना समाविष्ट करा (किंवा काढून टाका).</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aniket Deshpande &lt;djaniketster@gmail.com&gt;, 2013; संदिप शेडमाके</mal:name>
      <mal:email>sshedmak@redhat.com</mal:email>
      <mal:years>२०१३.</mal:years>
    </mal:credit>
  </info>

  <title>डॅशकरिता पसंतीच्या ॲप्सना पिन करा</title>

  <p>To add an application to the <link xref="shell-introduction#activities">dash</link>
  for easy access:</p>

  <steps>
    <item>
      <p if:test="!platform:gnome-classic">Open the
      <gui xref="shell-introduction#activities">Activities</gui> overview by
      clicking <gui>Activities</gui> at the top left of the screen</p>
      <p if:test="platform:gnome-classic">Click the
      <gui xref="shell-introduction#activities">Applications</gui> menu at the
      top left of the screen and choose the <gui>Activities Overview</gui> item
      from the menu.</p></item>
    <item>
      <p>डॅशमधील ग्रिड बटन क्लिक करा आणि समाविष्ट करण्याजोगी ॲप्लिकेशन शोधा.</p>
    </item>
    <item>
      <p>ॲप्लिकेशन चिन्हावर उजवी-क्लिक द्या आणि <gui>पसंतीचेकरिता समाविष्ट करा</gui>.</p>
      <p>वैकल्पिकरित्या, डॅशमध्ये तुम्ही चिनह क्लिक-अँड-ड्रॅग करू शकता.</p>
    </item>
  </steps>

  <p>डॅशपासून ॲप्लिकेशन चिन्ह काढून टाकण्याकरिता, ॲप्लिकेशन चिन्हावर उजवी-क्लिक द्या आणि <gui>पसंतीच्यापासून समाविष्ट करा</gui> निवडा.</p>

  <note style="tip" if:test="platform:gnome-classic"><p>Favorite applications
    also appear in the <gui>Favorites</gui> section of the
    <gui xref="shell-introduction#activities">Applications</gui> menu.</p>
  </note>

</page>
