<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-calibrate-camera" xml:lang="sl">

  <info>
    <link type="guide" xref="color#calibration"/>
    <link type="seealso" xref="color-calibrationtargets"/>
    <link type="seealso" xref="color-calibrate-printer"/>
    <link type="seealso" xref="color-calibrate-scanner"/>
    <link type="seealso" xref="color-calibrate-screen"/>
    <desc>Umerjanje vašega fotoaparata je pomembno za zajem natančnih barv.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Kako umeriti fotoaparat?</title>

  <p>
    Camera devices are calibrated by taking a photograph of a target
    under the desired lighting conditions.
    By converting the RAW file to a TIFF file, it can be used to
    calibrate the camera device in the <gui>Color</gui> panel.
  </p>
  <p>Datoteko TIFF boste morali obrezati, da bo vidna le tarča. Prepričajte se, da so beli ali črni robovi še vedno vidni. Kalibracija ne bo delovala, če je slika obrnjena narobe ali če je močno popačena.</p>

  <note style="tip">
    <p>Nastali profil je veljaven le pod svetlobnimi pogoji pod katerimi ste zajeli izvirno sliko. To pomeni, da boste morda morali profilirati večkrat za <em>studijske</em>, <em>sončne</em> in <em>oblačne</em> svetlobne pogoje.</p>
  </note>

</page>
