<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="problem" id="hardware-problems-graphics" xml:lang="sl">
  <info>

    <link type="guide" xref="hardware#problems"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>Odpravljanje težav z zaslonom in grafiko.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Težave z zaslonom</title>

<p>Večino težav z zaslonov povzročajo težave z grafičnimi gonilniki ali nastavitve. Katero izmed poglavij najbolje opiše vašo težavo?</p>

</page>
