<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="power-constantfan" xml:lang="sl">

  <info>
    <link type="guide" xref="power#problems"/>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <desc>Manjka program za nadzor ventilatorjev ali pa se vaš prenosnik pregreva.</desc>

    <credit type="author">
      <name>Dokumentacijski projekt GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Ventilator prenosnika se vedno vrti</title>

<p>V primeru da se ventilator vedno vrti, to lahko pomeni, da stojna oprema, ki nadzora hladilni sistem v prenosniku, na Linuxu ni dobro podprta. Nekateri prenosniki za učinkovit nadzor svojih ventilatorjev potrebujejo dodatne programe, vendar morda ta program ni nameščen (ali pa sploh ni na voljo za Linux), zato se ventilatorji ves čas vrtijo s polno hitrostjo.</p>

<p>V tem primeru boste morda lahko spremenili nekatere nastavitve ali namestili dodatne programe, ki omogočajo poln nadzor ventilatorja. Za nekatere prenosnike Sony VAIO lahko na primer namestite <link href="http://vaio-utils.org/fan/">vaiofand</link>. Nameščanje takšnih programov je tehnično opravilo, ki je močno odvisno od proizvajalca vašega prenosnika, zato najdite navodila, kako to storiti na svojem računalniku.</p>

<p>Mogoče je tudi, da vaš prenosnik proizvaja veliko toplote. To ne pomeni nujno, da se pregreva. Morda mora zato, da ostane dovolj hladen stalno poganjati ventilator s polno hitrostjo. V tem primeru nimate druge možnosti kot da pustite ventilator delovati s polno hitrostjo ves čas. Včasih lahko za svoj prenosnik kupite dodatne hladilne pripomočke, ki vam lahko pomagajo.</p>

</page>
