<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="wacom-stylus" xml:lang="sl">

  <info>
    <revision version="gnome:46" date="2024-03-10" status="final"/>

    <link type="guide" xref="wacom"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Določitev funkcij gumbov in občutek pritiska zaslonskega pisala Wacom.</desc>
  </info>

  <title>Nadzor pisala</title>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui>
      overview and start typing <gui>Wacom Tablet</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Wacom Tablet</gui> to open the panel.</p>
      <note style="tip"><p>If no tablet is detected, you’ll be asked to
      <gui>Please plug in or turn on your Wacom tablet</gui>. Click
      <gui>Bluetooth</gui> in the sidebar to connect a wireless tablet.</p></note>
    </item>
    <item>
      <p>There is a section containing settings specific to each stylus,
      with the device name (the stylus class) and diagram at the top.</p>
      <note style="tip"><p>If no stylus is detected, you’ll be asked to
      <gui>Please move your stylus to the proximity of the tablet to configure
      it</gui>.</p></note>
      <p>These settings can be adjusted:</p>
      <list>
        <item><p><gui>Tip Pressure Feel:</gui> use the slider to adjust the
        “feel” between <gui>Soft</gui> and <gui>Firm</gui>.</p></item>
        <item><p>Button/Scroll Wheel configuration (these change to
        reflect the stylus). Click the menu next to each label to select one of
        these functions: Left Mouse Button Click, Middle Mouse Button Click,
        Right Mouse Button Click, Back, or Forward.</p></item>
     </list>
    </item>
    <item>
      <p>Click <gui>Test Settings</gui> in the header bar to pop down a
      sketchpad where you can test your stylus settings.</p>
    </item>
  </steps>

</page>
