<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-calibrationcharacterization" xml:lang="kn">

  <info>

    <link type="guide" xref="color#calibration"/>

    <desc>Calibration and characterization are different things entirely.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>What’s the difference between calibration and characterization?</title>
  <p>
    Many people are initially confused about the difference between calibration
    and characterization.
    Calibration is the process of modifying the color behavior of a device.
    This is typically done using two mechanisms:
  </p>
  <list>
    <item><p>Changing controls or internal settings that it has</p></item>
    <item><p>Applying curves to its color channels</p></item>
  </list>
  <p>
    The idea of calibration is to put a device in a defined state with regard
    to its color response.
    Often this is used as a day to day means of maintaining reproducible behavior.
    Typically calibration will be stored in device or systems specific file
    formats that record the device settings or per-channel calibration curves.
  </p>
  <p>
    Characterization (or profiling) is <em>recording</em> the way
    a device reproduces or responds to color.
    Typically the result is stored in a device ICC profile.
    Such a profile does not in itself modify color in any way.
    It allows a system such as a CMM (Color Management Module) or a color aware
    application to modify color when combined with another device profile.
    Only by knowing the characteristics of two devices, can a way of
    transferring color from one device representation to another be achieved.
  </p>
  <note>
    <p>
      Note that a characterization (profile) will only be valid for a device
      if it’s in the same state of calibration as it was when it was
      characterized.
    </p>
  </note>
  <p>
    In the case of display profiles there is some additional confusion because
    often the calibration information is stored in the profile for convenience.
    By convention it is stored in a tag called the <em>vcgt</em> tag.
    Although it is stored in the profile, none of the normal ICC based tools
    or applications are aware of it, or do anything with it.
    Similarly, typical display calibration tools and applications will not be
    aware of, or do anything with the ICC characterization (profile) information.
  </p>

</page>
