<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="a11y task" version="1.0 if/1.0" id="a11y-screen-reader" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="a11y#vision" group="blind"/>

    <revision pkgversion="3.13.92" date="2014-09-20" status="incomplete"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Šon Mek Kens</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Jana Heves</name>
      <email>jsvarova@gnome.org</email>
    </credit>

    <desc>Koristite čitač ekrana <app>Orku</app> da izgovarate korisničko sučelje.</desc>
  </info>

  <title>Čitajte ekran na glas</title>

  <p>The <app>Orca</app> screen reader can speak the user interface. Depending
  on how you installed your system, you might not have Orca installed. If not,
  install Orca first.</p>

  <p if:test="action:install"><link style="button" action="install:orca">Instalirajte Orku</link></p>
  
  <p>Da pokrenete <app>Orku</app> koristeći tastaturu:</p>
  
  <steps>
    <item>
    <p>Pritisnite <key>Super</key>+<key>Alt</key>+<key>S</key>.</p>
    </item>
  </steps>
  
  <p>Ili da pokrenete <app>Orku</app> koristeći miša i tastaturu:</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Accessibility</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Accessibility</gui> to open the panel.</p>
    </item>
    <item>
      <p>Select the <gui>Seeing</gui> section to open it.</p>
    </item>
    <item>
      <p>Switch the <gui>Screen Reader</gui> switch to on.</p>
    </item>
  </steps>

  <note style="tip">
    <title>Brzo uključite ili isključite čitača ekrana</title>
    <p>Možete da uključite ili da isključite čitač ekrana tako što ćete pritisnuti na <link xref="a11y-icon">ikonicu pristupačnosti</link> na gornjoj traci i izabrati <gui>Čitač ekrana</gui>.</p>
  </note>

  <p>Pogledajte <link href="help:orca">Pomoć Orke</link> za više podataka.</p>
</page>
