<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="a11y task" id="a11y-visualalert" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="a11y#sound"/>
    <link type="seealso" xref="sound-alert"/>

    <revision pkgversion="3.7.1" date="2012-11-10" status="outdated"/>
    <revision pkgversion="3.9.92" date="2013-09-18" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.33.3" date="2019-07-21" status="final"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Šon Mek Kens</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Majkl Hil</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <desc>Uključite vizuelno upozorenje da zatreperi ekranom ili prozorom prilikom puštanja zvuka obaveštenja.</desc>
  </info>

  <title>Zatreperite ekranom za zvuke obaveštenja</title>

  <p>Vaš računar će pustiti jednostavan zvuk upozorenja za određene vrste poruka i događaja. Ako ne možete da čujete ove zvuke, možete podesiti da bilo čitav ekran ili vaš trenutni prozor vizuelno zatreperi pri svakom puštanju zvuka.</p>

  <p>Ovo takođe može biti korisno ako se nalazite u okruženju u kome vaš računar treba da bude nečujan, kao na primer u biblioteci. Pogledajte <link xref="sound-alert"/> da saznate kako da utišate zvuk upozorenja, i da uključite vizuelna upozorenja.</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Accessibility</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Accessibility</gui> to open the panel.</p>
    </item>
    <item>
      <p>Select the <gui>Hearing</gui> section to open it.</p>
    </item>
    <item>
      <p>In the <gui>Visual Alerts</gui> section, switch the <gui>Visual Alerts</gui>
      switch to on.</p>
    </item>
    <item>
      <p>Under <gui>Flash Area</gui>, select whether you want the entire screen or just
      your current window title to flash.</p>
    </item>
  </steps>

  <note style="tip">
    <p>Možete da uključite ili da isključite vizuelna upozorenja tako što ćete kliknuti na <link xref="a11y-icon">ikonicu pristupačnosti</link> na gornjoj traci i izabrati <gui>Vizuelna upozorenja</gui>.</p>
  </note>

</page>
