<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" version="1.0" id="sharing-secure-shell" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="sharing"/>
    <link type="guide" xref="prefs-sharing"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Allow remote login to your computer over the network using Secure Shell (SSH).</desc>
  </info>

  <title>Enable remote access over Secure Shell (SSH)</title>

  <p>You can allow remote login to your computer from another device on the network
  over Secure Shell (SSH). Configure <gui>Secure Shell</gui> to allow remote login.</p>

  <p>You need <link xref="user-admin-explain">administrator privileges</link>
  to configure Secure Shell.</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>System</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>System</gui> to open the panel.</p>
    </item>
    <item>
      <p>Click <gui>Secure Shell</gui>.</p>
    </item>
    <item>
      <p>Switch the <gui>Secure Shell</gui> switch to on. This enables remote access to
      this computer through Secure Shell (SSH). People connected to your network will be
      able to attempt logging in to your computer.</p>
      <note style="info">
        <p>A <gui>SSH Login Command</gui> is displayed by which you can connect to your
        computer over the network. This command uses your configured
        <link xref="about-hostname">device name</link>.</p>
      </note>
    </item>
  </steps>

</page>
