<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="sound-crackle" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="sound-broken"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Gnomov projekat dokumentacije</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Proverite vaše audio kablove i upravljačke programe zvučne kartice.</desc>
  </info>

<title>Čujem pucketanje ili zujanje prilikom puštanja zvuka</title>

  <p>Ako čujete pucketanje ili zujanje prilikom puštanja zvuka na računaru, možda imate problem sa audio kablovima ili konektorima, ili problem sa upravljačkim programima zvučne kartice.</p>

<list>
 <item>
  <p>Proverite da li su zvučnici ispravno priključeni.</p>
  <p>Ako zvučnici nisu potpuno priključeni, ili su priključeni u pogrešnu priključnicu, možete čuti zujanje.</p>
 </item>

 <item>
  <p>Uverite se da kabal zvučnika/slušalica nije oštećen.</p>
  <p>Audio kablovi i konektori mogu postepeno da se pohabaju sa upotrebom. Pokušajte da priključite kabal ili slušalice u drugu audio uređaj (kao što je MP3 plejer ili CD plejer), da proverite da li i dalje postoji pucketanje zvuka. Ako postoji, možda ćete morati da zamenite kabal ili slušalice.</p>
 </item>

 <item>
  <p>Proverite da li su upravljački programi dovoljno dobri.</p>
  <p>Neke zvučne kartice ne rade dobro na Linuksu jer nemaju dovoljno dobre upravljačke programe. Ovaj problem je teže otkriti. Pokušajte da potražite marku i model zvučne kartice na Internetu, kao i termin pretrage „Linuks“, da vidite da li i drugi ljudi imaju isti problem.</p>
  <p>Možete da koristite naredbu <cmd>lspci</cmd> da dobavite više podataka o vašoj zvučnoj kartici.</p>
 </item>
</list>

</page>
