<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="problem" id="sound-broken" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="media#sound"/>
    <link type="guide" xref="hardware#problems"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Gnomov projekat dokumentacije</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Rešite probleme kao što je nepostojanje zvuka ili zvuk lošeg kvaliteta.</desc>
  </info>

<title>Problemi sa zvukom</title>

<p>Postoje brojni načini da se puštanje zvuka na vašem računaru poremeti. Koja od tema ispod bolje opisuje problem na koji ste naišli?</p>

</page>
