<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="parental-controls" xml:lang="ja">

  <info>
    <link type="guide" xref="user-accounts#manage"/>

    <revision version="gnome:43" status="final" date="2022-12-13"/>

    <credit type="author">
      <name>Anthony McGlone</name>
      <email>anthonymcglone2022@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Set up parental controls for users on the system.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>松澤 二郎</mal:name>
      <mal:email>jmatsuzawa@gnome.org</mal:email>
      <mal:years>2011, 2012, 2013, 2014, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>赤星 柔充</mal:name>
      <mal:email>yasumichi@vinelinux.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kentaro KAZUHAMA</mal:name>
      <mal:email>kazken3@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shushi Kurose</mal:name>
      <mal:email>md81bird@hitaki.net</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Noriko Mizumoto</mal:name>
      <mal:email>noriko@fedoraproject.org</mal:email>
      <mal:years>2013, 2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>坂本 貴史</mal:name>
      <mal:email>o-takashi@sakamocchi.jp</mal:email>
      <mal:years>2013, 2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>日本GNOMEユーザー会</mal:name>
      <mal:email>http://www.gnome.gr.jp/</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>Add parental controls</title>

  <p>Parents can use the <gui>Parental Controls</gui> application to prevent children from accessing harmful content.</p>

  <p>An administrator can use this application to:</p>

  <list>
    <item>
      <p>Restrict a user's access to web browsers and applications.</p>
    </item>
    <item>
      <p>Prevent a user from installing applications.</p>
    </item>
    <item>
      <p>Allow a user to only access age-appropriate applications.</p>
    </item>
  </list>

  <note>
    <p>
      <gui>Parental Controls</gui> requires applications to be installed via Flatpak or Flathub.
    </p>
  </note> 

  <section id="restrictwebbrowsers">
    <title>Restrict web browsers</title>
    <p><gui>Parental Controls</gui> allows an administrator to disable browser access for a user.</p>
    <steps>
      <item>
        <p>Open the <gui xref="shell-introduction#activities">Activities</gui>
           overview and start typing <gui>System</gui>.
        </p>
      </item>
      <item>
        <p>Select <guiseq><gui>Settings</gui><gui>System</gui></guiseq> from the
        results. This will open the <gui>System</gui> panel.</p>
      </item>
      <item>
        <p>Select <gui>Users</gui> to open the panel.</p>
      </item>
      <item>
         <p>Under <gui>Other Users</gui>, select the user to whom you wish to apply the controls.
         </p>
      </item>
      <item>
         <p>Select <gui>Parental Controls</gui>.
         </p>
         <note>
           <p>The option only appears if <gui>Parental Controls</gui> is installed and enabled.
           </p>
         </note>
      </item>
      <item>
        <p>
          Press the <gui>Unlock</gui> button.
        </p>
      </item>
       <item>
        <p>
          Enter your password and authenticate to unlock the <gui>Parental Controls</gui> dialog.
        </p>
      </item>
      <item>
        <p>
          Toggle the <gui>Restrict Web Browsers</gui> switch to turn it on.
        </p>
      </item>
    </steps>
  </section>
  <section id="restrictapplications">
    <title>Restrict applications</title>
    <p><gui>Parental Controls</gui> provides a list of applications that an administrator can disable.</p>
    <note>
      <p>
        Existing applications (which are not installed via Flatpak) will not appear in this list.
      </p>
    </note>
    <steps>
      <item>
        <p>Open the <gui xref="shell-introduction#activities">Activities</gui>
           overview and start typing <gui>System</gui>.
        </p>
      </item>
      <item>
        <p>Select <guiseq><gui>Settings</gui><gui>System</gui></guiseq> from the
        results. This will open the <gui>System</gui> panel.</p>
      </item>
      <item>
        <p>Select <gui>Users</gui> to open the panel.</p>
      </item>
      <item>
         <p>Under <gui>Other Users</gui>, select the user to whom you wish to apply the controls.
         </p>
      </item>
      <item>
         <p>Select <gui>Parental Controls</gui>.
         </p>
         <note>
           <p>The tab only appears if <gui>Parental Controls</gui> is installed and enabled.
           </p>
         </note>
      </item>
      <item>
        <p>
          Press the <gui>Unlock</gui> button.
        </p>
      </item>
       <item>
        <p>
          Enter your password and authenticate to unlock the <gui>Parental Controls</gui> dialog.
        </p>
      </item>
      <item>
        <p>
          Click on <gui>Restrict Applications</gui>.
        </p>
      </item>
      <item>
        <p>
          Toggle the switch next to the application(s) you wish to restrict.
        </p>
      </item>
    </steps>
  </section>
  <section id="restrictapplicationinstallation">
    <title>Restrict application installation</title>
    <p><gui>Parental Controls</gui> allows an administrator to deny installation privileges to a user.</p>
    <steps>
      <item>
        <p>Open the <gui xref="shell-introduction#activities">Activities</gui>
           overview and start typing <gui>System</gui>.
        </p>
      </item>
      <item>
        <p>Select <guiseq><gui>Settings</gui><gui>System</gui></guiseq> from the
        results. This will open the <gui>System</gui> panel.</p>
      </item>
      <item>
        <p>Select <gui>Users</gui> to open the panel.</p>
      </item>
      <item>
         <p>Under <gui>Other Users</gui>, select the user to whom you wish to apply the controls.
         </p>
      </item>
      <item>
         <p>Select <gui>Parental Controls</gui>.
         </p>
         <note>
           <p>The tab only appears if <gui>Parental Controls</gui> is installed and enabled.
           </p>
         </note>
      </item>
      <item>
        <p>
          Press the <gui>Unlock</gui> button.
        </p>
      </item>
       <item>
        <p>
          Enter your password and authenticate to unlock the <gui>Parental Controls</gui> dialog.
        </p>
      </item>
      <item>
        <p>
          Toggle the <gui>Restrict Application Installation</gui> switch to turn it on.
        </p>
      </item>
    </steps>
  </section>
  <section id="applicationsuitability">
    <title>Restrict applications by age group</title>
    <p>
        Restrict what applications are visible based on their suitability for a given age group. 
    </p>  
    <steps>
      <item>
        <p>Open the <gui xref="shell-introduction#activities">Activities</gui>
           overview and start typing <gui>System</gui>.
        </p>
      </item>
      <item>
        <p>Select <guiseq><gui>Settings</gui><gui>System</gui></guiseq> from the
        results. This will open the <gui>System</gui> panel.</p>
      </item>
      <item>
        <p>Select <gui>Users</gui> to open the panel.</p>
      </item>
      <item>
         <p>Under <gui>Other Users</gui>, select the user to whom you wish to apply the controls.
         </p>
      </item>
      <item>
         <p>Select <gui>Parental Controls</gui>.
         </p>
         <note>
           <p>The tab only appears if <gui>Parental Controls</gui> is installed and enabled.
           </p>
         </note>
      </item>
      <item>
        <p>
          Press the <gui>Unlock</gui> button.
        </p>
      </item>
       <item>
        <p>
          Enter your password and authenticate to unlock the <gui>Parental Controls</gui> dialog.
        </p>
      </item>
      <item>
        <p>
          Select the age group from the dropdown in  <gui>Application Suitability</gui>.
        </p>
      </item>
    </steps>
  </section>
</page>
