<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task a11y" id="a11y-dwellclick" xml:lang="es">

  <info>
    <link type="guide" xref="mouse"/>
    <link type="guide" xref="a11y#mobility" group="clicking"/>

    <revision pkgversion="3.8.0" date="2013-03-13" status="candidate"/>
    <revision pkgversion="3.9.92" date="2013-09-18" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.29" date="2018-08-21" status="review"/>
    <revision pkgversion="3.33" date="2019-07-20" status="candidate"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <desc>La <gui>pulsación al posarse</gui> (pulsación al posicionar el puntero) le permite pulsar manteniendo el ratón quieto.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011 - 2022</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nicolás Satragno</mal:name>
      <mal:email>nsatragno@gnome.org</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Molinero</mal:name>
      <mal:email>paco@byasl.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>Simular una pulsación al posicionar el puntero</title>

  <p>Puede pulsar o arrastrar simplemente posando el puntero de su ratón sobre un control o un objeto en la pantalla. Es útil si tiene dificultades para mover el ratón y pulsar a la vez. Esta característica se llama <gui>Pulsación al enfocar</gui> o pulsación al posarse.</p>

  <p>Cuando la <gui>Pulsación al pasar por encima</gui> está activada puede mover el puntero de su ratón sobre un control, dejar el ratón y esperar un poco hasta que el botón se pulse automáticamente.</p>

  <steps>
    <item>
      <p>Abra la vista de <gui xref="shell-introduction#activities">Actividades</gui> y empiece a escribir <gui>Accesibilidad</gui>.</p>
    </item>
    <item>
      <p>Pulse en <gui>Accesibilidad</gui> para abrir el panel.</p>
    </item>
    <item>
      <p>Select the <gui>Pointing &amp; Clicking</gui> section to open it.</p>
    </item>
    <item>
      <p>In the <gui>Click Assist</gui> section, switch the <gui>Hover Click</gui>
      switch to on.</p>
    </item>
  </steps>

  <p>Se abrirá la ventana <gui>Pulsación al pasar por encima</gui>, que siempre estará encima del resto de ventanas. Puede usarla para elegir el tipo de pulsación que deberá aplicarse cuando coloque el ratón sobre un botón. Por ejemplo, si selecciona <gui>Pulsación secundaria</gui>, el ratón simulará una pulsación con el botón derecho cuando coloque el puntero sobre un botón durante unos pocos segundos.</p>

  <p>Al pasar el puntero del ratón sobre un botón y no moverse, poco a poco cambiará de color. Una vez totalmente cambiado de color, el botón se pulsará.</p>

  <p>Ajuste la opción <gui>Retardo</gui> para controlar cuánto tiempo debe mantener el puntero del ratón para realizar la pulsación.</p>

  <p>No necesita mantener el ratón perfectamente quieto al realizar una pulsación al pasar por encima. El puntero se puede mover un poco y aún así se hará la pulsación pasado un tiempo. En cambio, no se producirá la pulsación si lo mueve demasiado.</p>

  <p>Ajuste la opción del <gui>Umbral de movimiento</gui> para cambiar cuánto se puede mover el puntero y que aún así se siga considerando una pulsación de posicionamiento.</p>

</page>
