<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="problem" id="hardware-problems-graphics" xml:lang="gu">
  <info>

    <link type="guide" xref="hardware#problems"/>

    <credit type="author">
      <name>ફીલ બુલ</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>મુશ્કેલીનિવારણ સ્ક્રીન અને ગ્રાફિક્સ સમસ્યાઓ.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>સ્ક્રીન સમસ્યાઓ</title>

<p>દર્શાવ સાથે મોટાભાગની સમસ્યાઓ ગ્રાફિક્સ ડ્રાઇવરો અથવા રૂપરેખાંકન સાથેની સમસ્યાઓને કારણે થયેલ છે. નીચે ક્યાં વિષયો એ સમસ્યાને સારી રીતે વર્ણવે છે તે તમે અનુભવી રહ્યા છો?</p>

</page>
