<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" version="1.1" id="help-matrix" xml:lang="gu">
  <info>

    <revision version="gnome:40" date="2022-05-27" status="draft"/>

    <credit type="author">
      <name>Zaria</name>
      <email>zaria@vivaldi.net</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <link type="guide" xref="more-help"/>
    
    <link type="seealso" href="https://matrix.org">
        <title>Matrix homepage</title>
    </link>


    <desc>Chat live with GNOME contributors.</desc>

    <keywords>matrix, chat, support, live, community, help</keywords>
  </info>

  <title>Get help with Matrix</title>

  <p>
  <link href="https://matrix.org/">Matrix</link> is a modern, open source chat platform. Like email, you can create an account on one of many servers and use any number of clients to connect, including web-based ones.
  </p>
  <steps>
    <item><p>Choose a client. Matrix maintains a <link href="https://matrix.org/docs/projects/try-matrix-now/">list of popular clients</link>, including the popular <link href="https://app.element.io">Element</link> client and GNOME's own <link href="https://wiki.gnome.org/action/show/Apps/Fractal">Fractal</link> app.</p></item>
    <item><p>Create an account. Most clients will guide you through this process, and the account will work on any Matrix client.</p></item>
    <item><p>Join the <link href="https://matrix.to/#/#gnome:gnome.org">#gnome:gnome.org</link> room and ask away.</p></item>
  </steps>
  <p>
  More information, including how to browse other GNOME rooms, can be found on the <link href="https://wiki.gnome.org/GettingInTouch/Matrix">GNOME wiki</link>.
  </p>
  <note>
  <p>Be sure to follow the <link href="https://wiki.gnome.org/Foundation/CodeOfConduct">GNOME code of
    conduct</link> when chatting on Matrix and other GNOME platforms.</p>
    </note>

</page>
