<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="backup-how" xml:lang="sr">

  <info>
    <link type="guide" xref="backup-why"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>Тифани Антополоски</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit>
      <name>Гномов пројекат документације</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Мајкл Хил</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Клајн Кравис</name>
      <email>kleinkravis44@outlook.com</email>
      <years>2020</years>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Користите Безбедни сеф (или неки други програм за резерве) да направите умношке ваших вредних датотека и подешавања да их заштитите од губљења.</desc>
  </info>

<title>Како да направите резерву</title>

  <p>Најлакши начин да направите резерву ваших датотека и подешавања је да допустите програму за резерве да одради процес прављења резерве за вас. Доступан је велики број различитих програма за резерву, на пример <app>Сигурни сеф</app>.</p>

  <p>Помоћ изабраног програма за резерве ће вас водити кроз подешавање поставки за прављење резерве, као и за повраћај података.</p>

  <p>Још један од начина је да <link xref="files-copy">умножите ваше датотеке</link> на безбедно место, као што је спољни чврсти диск, смештајну услугу на мрежи, или УСБ уређај. Ваши <link xref="backup-thinkabout">лични подаци</link> и подешавања се обично налазе у вашој личној фасцикли, тако да можете да их умножите одатле.</p>

  <p>Количина података коју можете да умножите је ограничена величином складишног уређаја. Ако имате простора на уређају за резерву, најбоље би било да направите резерву читаве личне фасцикле изузев следећих ставки:</p>

<list>
 <item><p>Датотеке чије резерве сте већ направили негде другде, на УСБ диску, или другом преносивом медију.</p></item>
 <item><p>Датотеке које можете с лакоћом поново да направите. На пример, ако сте програмер, нећете морати да правите резерве датотека које се стварају када вршите превођење програма. Уместо тога, уверите се да сте направили резерву оригиналне изворне датотеке.</p></item>
 <item><p>Све датотеке у фасцикли смећа. Ваша фасцикла смећа се налази у <file>~/.local/share/Trash</file>.</p></item>
</list>

</page>
