<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="backup-frequency" xml:lang="sr">

  <info>
    <link type="guide" xref="files#backup"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>Тифани Антополоски</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Гномов пројекат документације</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Сазнајте колико често треба да правите резерву ваших важних датотека да бисте били сигурни да су безбедни.</desc>
  </info>

<title>Учестаност прављења резерве</title>

  <p>Колико често ћете правити резерве зависиће од врсте података за причувавање. На пример, ако радите у мрежном окружењу са ризичним подацима сачуваним на вашим серверима, онда можда неће бити довољно чак ни свакодневно прављење резерве.</p>

  <p>Са друге стране, ако правите резерву података на вашем кућном рачунару онда ће прављење резерве на сваких сат времена бити стварно непотребно. Можда ће вам бити од помоћи да размотрите следеће тачке када будете желели да испланирате распоред прављења резерве:</p>

<list style="compact">
  <item><p>Колико времена проводите у раду за рачунаром.</p></item>
  <item><p>Колико често и колико података на рачунару се измени.</p></item>
</list>

  <p>Ако су подаци за које желите да направите резерву ниже важности, или подложни мањим изменама, као музика, е-пошта и породичне фотографије, онда ће недељно или чак месечно прављење резерве бити сасвим довољно. Међутим, ако се деси да се налазите у сред обрачунавања пореза, учесталије стварање резерви ће можда бити неопходно.</p>

  <p>Као опште правило, време између прављења резерви не би требало да буде веће од времена које бисте потрошили ако бисте морали поново да урадите све што сте до тада урадили. На пример, ако вам је недељу дана превише времена да утрошите на поновно писање изгубљених докумената, онда бисте требали да правите резерве барем једном недељно.</p>

</page>
