<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="bluetooth" xml:lang="sr">

  <info>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.4" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-09" status="review"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.14" date="2014-10-12" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Шон Мек Кенс</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="Editor">
      <name>Клајн Кравис</name>
      <email>kleinkravis44@outlook.com</email>
    </credit>  
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Повежите се на уређаје путем Блутута да пренесете датотеке или користите бежични звук.</desc>
  </info>

<title>Блутут</title>

<p>Блутут је бежични протокол који вам омогућава да повежете многе различите врсте уређаја на ваш рачунар. Блутут се углавном користи за слушалице са микрофоном и друге уређаје као што су миш и тастатуре. Можете такође да користите Блутут да <link xref="bluetooth-send-file">пошаљете датотеке између уређаја</link>, као оне са вашег рачунара на мобилни телефон.</p>

<section id="problems">
  <info>
    <title type="link">Проблеми блутута</title>
    <link type="guide" xref="hardware#problems"/>
  </info>
  <title>Проблеми</title>
</section>

</page>
