<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="contacts-setup" xml:lang="sr">

  <info>
    <link type="guide" xref="contacts" group="#first"/>

    <revision pkgversion="3.5.5" date="2012-08-13" status="draft"/>
    <revision pkgversion="3.12" date="2014-02-26" status="final"/>
    <revision pkgversion="3.13.91" date="2014-09-05" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="review"/>
    <revision pkgversion="3.22" date="2017-03-19" status="draft"/>
    <revision pkgversion="3.38.0" date="2020-11-02" status="review"/>

    <credit type="author copyright">
      <name>Мајкл Хил</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    
    <credit type="author copyright">
      <name>Пол Катлер</name>
      <email>pcutler@gnome.org</email>
      <years>2017</years>
    </credit>

    <credit type="editor">
      <name>Пранали Дешмук</name>
      <email>pranali21293@gmail.com</email>
      <years>2020</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Чувајте ваше контакте у локалном адресару или на налогу на мрежи.</desc>
  </info>

  <title>Покретање Контаката по први пут</title>

  <p>Када први пут покренете <app>Контакте</app>, отвориће се прозор <gui>Изаберите адресар</gui>.</p>
   
  <p>Ако имате подешене <link xref="accounts">налоге на мрежи</link>, биће приказиви у <gui>Локалном адресару</gui>. Изаберите неку ставку са списка и кликните <gui style="button">Готово</gui>.</p>
  
  <p>Сви нови контакти које направите биће сачувани у адресар који изаберете. Такође может да прегледате, уређујете и бришете контакте у другим адресарима.</p>
  
  <p>Ако нисте подесили налоге на мрежи, притисните <gui style="button">Налози на мрежи</gui> да започнете подешавање. Ако у овом тренутку не желите да подесите налоге на мрежи, кликните <gui style="button">Локални адресар</gui>.</p>

</page>
