<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="disk-format" xml:lang="sr">
  <info>
    <link type="guide" xref="disk"/>


    <credit type="author">
      <name>Гномов пројекат документације</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.91" date="2014-09-05" status="review"/>
    <revision pkgversion="3.37.2" date="2020-08-13" status="review"/>

    <desc>Уклоните све датотеке и фасцикле са спољног чврстог диска или УСБ диска њиховим форматирањем.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Обришите све са уклоњивог диска</title>

  <p>Ако поседујете уклоњиви диск, као УСБ меморијски штапић или спољни чврсти диск, можда ћете некад пожелети да у потпуности уклоните све датотеке и фасцикле на њему. Ово можете да урадите <em>форматирањем</em> диска — што ће обрисати све датотеке на диску и оставиће га празним.</p>

<steps>
  <title>Форматирајте уклоњиви диск</title>
  <item>
    <p>Отворите програм <app>Дискови</app> из прегледа <gui>Активности</gui>.</p>
  </item>
  <item>
    <p>Изаберите диск који желите да обришете са списка складишних уређаја на левој страни.</p>

    <note style="warning">
      <p>Уверите се да сте изабрали прави диск! Ако изаберете погрешан диск, све датотеке на њему ће бити обрисане!</p>
    </note>
  </item>
  <item>
    <p>На траци алата испод одељка <gui>Волумени</gui>, кликните на дугме изборника. Након тога кликните <gui>Форматирај партицију…</gui>.</p>
  </item>
  <item>
    <p>У прозору који ће се појавити, изаберите <gui>врсту</gui> система датотека за диск.</p>
   <p>Ако диск користите на рачунарима са Виндоузом и Мек ОС-ом поред рачунара са Линуксом, изаберите <gui>ФАТ</gui>. Ако га користите само на Виндоузу, <gui>НТФС</gui> може бити боља опција. Кратак опис врсте система датотека биће приказан као натпис.</p>
  </item>
  <item>
    <p>Дајте диску назив и притисните <gui>Даље</gui> да наставите и да покажете прозор за потврђивање. Пажљиво проверите појединости, и притисните <gui>Форматирај</gui> да обришете диск.</p>
  </item>
  <item>
    <p>Након завршеног форматирања, притисните иконицу избацивања да безбедно уклоните диск. Сада ће бити празан и спреман за поновну употребу.</p>
  </item>
</steps>

<note style="warning">
 <title>Форматирање диска не брише безбедно ваше датотеке</title>
  <p>Форматирање диска није потпуно сигуран начин за брисање свих његових података. Форматиран диск ће изгледати као да не садржи датотеке на себи, али ће нарочитим програмом за опоравак бити могуће пронаћи датотеке. Ако имате потребу да безбедно уклоните датотеке, мораћете да користите помагало линије наредби, као што је <app>shred</app>.</p>
</note>

</page>
