<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="files-disc-write" xml:lang="sr">

  <info>
    <link type="guide" xref="files#more-file-tasks"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.36.1" date="2020-06-10" status="outdated"/>

    <credit type="author">
      <name>Мајкл Хил</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Набаците датотеке и документа на празан ЦД или ДВД користећи програм за резање ЦД/ДВД дискова.</desc>
  </info>

  <title>Запишите датотеке на ЦД или ДВД</title>

  <p>Можете да набаците датотеке на празан диск користећи програм за нарезивање диска, као што је <app>Бразеро</app>.</p>

  <section id="problem">
  <title>Ако диск није исправно нарезан</title>

  <p>Понекада рачунар неће исправно записати податке, и ви нећете бити у могућности да видите датотеке које сте набацили на диск када га будете убацили у рачунар.</p>

  <p>У том случају, покушајте поново да нарежете диск али користите мању брзину резања, на пример, 12× уместо 48×. Резање мањим брзинама је поузданије.</p>

</section>

</page>
