<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="problem" id="hardware-problems-graphics" xml:lang="sr">
  <info>

    <link type="guide" xref="hardware#problems"/>

    <credit type="author">
      <name>Фил Бул</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>Решите проблеме екрана и графике.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Проблеми екрана</title>

<p>Већина проблема са екраном је проузрокована проблемима са управљачким програмима графике или подешавањима. Која од тема најбоље описује проблем на који сте наишли?</p>

</page>
