<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="mouse" xml:lang="sr">

  <info>
    <revision pkgversion="3.4" date="2012-02-19" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.33" date="2019-07-20" status="candidate"/>

    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <credit type="author">
      <name>Тифани Антополоски</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Екатерина Герасимова</name>
      <email>kittykat3756@gmail.com</email>
      <years>2015</years>
    </credit>
    <credit type="editor">
      <name>Мајкл Хил</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <title type="link" role="trail">Миш</title>
    <desc>Дотерајте понашање уређаја показивања да задовољите личне потребе.</desc>
  </info>

<title>Миш, Додирна табла и Екран на додир</title>
<links type="topic" style="2column"/>

<section id="problems" style="2column">
  <info>
    <title type="link">Општи проблеми миша</title>
    <title type="link" role="trail">Општи проблеми</title>
  </info>
  <title>Општи проблеми</title>
</section>

<section id="tips" style="2column">
 <info>
   <title type="link">Савети за миша</title>
   <title type="link" role="trail">Савети</title>
 </info>
 <title>Савети</title>
</section>
</page>
