<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="music-cantplay-drm" xml:lang="sr">
  <info>
    <link type="guide" xref="media#music"/>


    <credit type="author">
      <name>Гномов пројекат документације</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>Можда није инсталирана подршка за тај формат датотеке или су песме „заштићене од умножавања“.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Не могу да пуштам песме које сам купио у продавници на мрежи</title>

<p>Ако сте преузели неку музику из продавнице на мрежи можете увидети да је не можете пуштати на вашем рачунару, нарочито ако сте је купили на рачунару са Виндоузом или Мек ОС-ом и након тога је преумножили.</p>

<p>Ово може бити због тога што је музика у формату који ваш рачунар не препознаје. Да бисте били у могућности да пустите песму морате имати инсталирану подршку за прави аудио формат — на пример, ако желите да пустите МП3 датотеку, потребна вам је инсталирана МП3 подршка. Ако немате подршку за дати формат звука, видећете поруку која ће вас обавестити о овоме када будете покушали да пустите песму. Порука ће вам обезебедити упутства о томе како да инсталирате подршку за тај формат да бисте могли да га пуштате.</p>

<p>Ако имате инсталирану подршку за звучни формат песме али још увек не можете да га пуштате, песма може бити <em>заштићена од умножавања</em> (познато да је <em>ДРМ ограничена</em>). ДРМ је начин ограничавања ко може да пушта песму и на ком уређају може да је пушта. Фирма која вам је продала песму управља тиме, а не ви. Ако датотека музике има ДРМ ограничење, вероватно нећете бити у могућности да је пустите — уопштено потребан вам је посебан софтвер од продавца да бисте пуштали ДРМ ограничене датотеке, али овај софтвер често није подржан на Линуксу.</p>

<p>Можете да сазнате више о ДРМ-у од <link href="https://www.eff.org/issues/drm">Задужбине електронске границе</link>.</p>

</page>
