<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="power-wireless" xml:lang="sr">

  <info>
    <link type="guide" xref="power"/>
    <link type="seealso" xref="power-batterylife"/>

    <revision pkgversion="3.20" date="2016-06-15" status="candidate"/>
    <revision pkgversion="3.33.3" date="2019-07-21" status="candidate"/>
    <revision version="gnome:40" date="2021-03-21" status="candidate"/>
    <revision version="gnome:41" date="2021-09-08" status="candidate"/>

    <credit type="author copyright">
      <name>Мајкл Хил</name>
      <email>mdhillca@gmail.com</email>
      <years>2016</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Блутут, бежична и мобилна широкопојасна се могу искључити зарад смањења искоришћености батерије.</desc>
  </info>

  <title>Искључите некоришћене бежичне технологије</title>

  <p>Можете смањити искоришћеност батерије искључивањем блутута, бежичне или мобилне мреже онда када се не користе.</p>

  <steps>

    <item>
      <p>Отворите преглед <gui xref="shell-introduction#activities">Активности</gui> и почните да куцате <gui>Wi-Fi</gui> или <gui>Блутут</gui>.</p>
    </item>
    <item>
      <p>Кликните на <gui>Wi-Fi</gui> или <gui>Блутут</gui> да отворите панел.</p>
    </item>
    <item>
      <p>На траци заглавља, пребаците услуге које не користите на искључено. Поново их укључите када вам затребају пребацивањем на укључено.</p>
    </item>

  </steps>

</page>
