<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:uix="http://projectmallard.org/experimental/ui/" type="guide" style="task" id="hardware" xml:lang="da">
  <info>

    <link type="guide" xref="index" group="hardware"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <title type="link" role="trail">Hardware</title>

    <desc>Konfigurér hardware og diagnosticér problemer, herunder printere, skærme, diske og mere.</desc>
    <uix:thumb role="experimental-gnome-tiles" src="figures/tile-hardware.svg"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>scootergrisen</mal:name>
      <mal:email/>
      <mal:years>2015-2016, 2019-2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alan Mortensen</mal:name>
      <mal:email/>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>

<title>Hardware &amp; drivere</title>

<links type="topic" style="linklist"/>

<links type="topic" style="linklist" groups="more">
  <title>Flere emner</title>
</links>

<section id="problems" style="2column">
  <info>
    <title type="link" role="trail">Problemer</title>
    <title type="link">Hardwareproblemer</title>
  </info>
 <title>Almindelige problemer</title>
 <links type="topic" style="linklist"/>
</section>

</page>
