<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="power-percentage" xml:lang="da">

  <info>

    <link type="guide" xref="power"/>
    <link type="guide" xref="status-icons"/>
    <link type="seealso" xref="power-status"/>

    <revision version="gnome:40" date="2021-03-21" status="candidate"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2021</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Vis batteriprocenten i toppanelet.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>scootergrisen</mal:name>
      <mal:email/>
      <mal:years>2015-2016, 2019-2021</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alan Mortensen</mal:name>
      <mal:email/>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>
  
  <title>Vis batteriets status i procent</title>

  <p><link xref="status-icons#batteryicons">Statusikonet</link> i toppanelet viser opladningsniveauet for det interne hovedbatteri, og om det aktuelt oplades eller ej. Opladningen kan også vises i <link xref="power-percentage">procent</link>.</p>

  <steps>

    <title>Vis batteriprocenten i toppanelet</title>

    <item>
      <p>Åbn <gui xref="shell-introduction#activities">Aktivitetsoversigten</gui> og begynd at skrive <gui>Strøm</gui>.</p>
    </item>
    <item>
      <p>Klik på <gui>Strøm</gui> for at åbne panelet.</p>
    </item>
    <item>
      <p>Switch the <gui>Show Battery Percentage</gui> switch to on.</p>
    </item>

  </steps>

</page>
