<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="bluetooth-connect-device" xml:lang="fa">

  <info>
    <link type="guide" xref="bluetooth"/>
    <link type="guide" xref="hardware-phone#setup"/>
    <link type="seealso" xref="sharing-bluetooth"/>
    <link type="seealso" xref="bluetooth-remove-connection"/>

    <revision pkgversion="3.8" date="2013-05-16" status="review"/>
    <revision pkgversion="3.10" date="2013-11-09" status="review"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.13" date="2014-09-22" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.33" date="2019-07-19" status="candidate"/>

    <credit type="author">
      <name>جیم کمپبل</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <credit type="author">
      <name>پاول و. فریلدز</name>
      <email>stickster@gmail.com</email>
    </credit>
    <credit type="author">
      <name>شون مک‌کین</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>مایکل هیل</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>اکاترینا گراسیموفا</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>دیوید کینگ</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>افزاره‌های بلوتوث را جفت کنید.</desc>
  </info>

  <title>وصل کردن رایانه‌تان به یک افزارهٔ بلوتوثی</title>

  <p>Before you can use a Bluetooth device like a mouse or a headset, you first
  need to connect your computer to the device. This is also called
  <em>pairing</em> the Bluetooth devices.</p>

  <steps>
    <item>
      <p>نمای کلی <gui xref="shell-introduction#activities">فعّالیت‌ها</gui> را گشوده و شروع به نوشتن <gui>بلوتوث</gui> کنید.</p>
    </item>
    <item>
      <p>برای گشودن تابلو <gui>بلوتوث</gui> را بزنید.</p>
    </item>
    <item>
      <p>Make sure Bluetooth is enabled: the switch at the top should be set to
      on. With the panel open and the switch on, your computer will begin
      searching for devices.</p>
    </item>
    <item>
      <p>Make the other Bluetooth device
      <link xref="bluetooth-visibility">discoverable or visible</link> and
      place it within 5-10 meters (about 16-33 feet) of your computer.</p>
    </item>
    <item>
      <p>Click the device in the <gui>Devices</gui> list. The panel for the
      device will open.</p>
    </item>
    <item>
      <p>If required, confirm the PIN on your other device. The device should
      show you the PIN you see on your computer screen. Confirm the PIN on the
      device (you may need to click <gui>Pair</gui> or <gui>Confirm</gui>),
      then click <gui>Confirm</gui> on the computer.</p>
      <p>You need to finish your entry within about 20 seconds on most devices,
      or the connection will not be completed. If that happens, return to the
      device list and start again.</p>
    </item>
    <item>
      <p>The entry for the device in the <gui>Devices</gui> list will show a
      <gui>Connected</gui> status.</p>
    </item>
    <item>
      <p>To edit the device, click on it in the <gui>Devices</gui> list. You
      will see a panel specific to the device. It may display additional
      options applicable to the type of device to which you are connecting.</p>
    </item>
    <item>
      <p>تابلو را پس از تغییر دادن تنظیمات ببندید.</p>
    </item>
  </steps>

  <media its:translate="no" type="image" src="figures/bluetooth-symbolic.svg" style="floatend">
    <p its:translate="yes">نقشک بلوتوث روی نوار بالایی</p>
  </media>
  <p>When one or more Bluetooth devices are connected, the Bluetooth icon
  appears in the system status area.</p>

</page>
