<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:uix="http://projectmallard.org/experimental/ui/" type="guide" style="task" id="hardware" xml:lang="fa">
  <info>

    <link type="guide" xref="index" group="hardware"/>

    <credit type="author">
      <name>شون مک‌کین</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <title type="link" role="trail">سخت‌افزار</title>

    <desc>پیکربندی سخت‌افزار و مشکلات تشخیصی، شامل چاپگرها، نمایشگرها، دیسک‌ها و….</desc>
    <uix:thumb role="experimental-gnome-tiles" src="figures/tile-hardware.svg"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>سخت‌افزار و راه‌اندازها</title>

<links type="topic" style="linklist"/>

<links type="topic" style="linklist" groups="more">
  <title>موضوعات بیش‌تر</title>
</links>

<section id="problems" style="2column">
  <info>
    <title type="link" role="trail">مشکلات</title>
    <title type="link">مشکلات سخت‌افزاری</title>
  </info>
 <title>مشکلات مرسوم</title>
 <links type="topic" style="linklist"/>
</section>

</page>
