<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="hardware-auth" xml:lang="fa">
<info>
  <link type="guide" xref="hardware"/>


  <credit type="author">
    <name>شون مک‌کین</name>
    <email>shaunm@gnome.org</email>
  </credit>

  <desc>برای احراز هویت به جای گذرواژه‌ها از دستگاه‌های سخت‌افزاری استفاده کنید.</desc>

  <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
</info>

<title>اثر انگشت‌ها و کارت‌های هوشمند</title>

</page>
