<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="net-security" xml:lang="fa">

  <info>
    <link type="guide" xref="net"/>
    <revision pkgversion="3.4.0" date="2012-02-21" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>گروه مستندات اوبونتو</name>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <title type="link" role="trail">امنیت</title>
    <desc>درک دیوارهای آتش، ویروس‌ها و دیگر مباحث امنیتی اینترنتی.</desc>
  </info>

  <title>امن ماندن روی اینترنت</title>

</page>
