<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing" xml:lang="fa">

  <info>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>فیل بول</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>برپایی چاپگرهای محلی و شبکه‌ای. آموختن دربارهٔ گزینه‌های مختلف چاپ مانند تطبیق یا چاپ چندطرفه.</desc>
  </info>

<title>چاپ کردن</title>

<section id="setup" style="2column">
  <info>
    <title type="link" role="trail">برپاسازی</title>
  </info>
  <title>برپایی یک چاپگر</title>
</section>

<section id="paper" style="2column">
  <info>
    <title type="link" role="trail">اندازه‌ها و چینش‌ها</title>
  </info>
  <title>اندازه‌ها و چینش‌های مختلف کاغذها</title>
</section>

<section id="problems" style="2column">
  <info>
    <link type="guide" xref="hardware#problems"/>
    <desc>چاپگرهای شناخته‌نشده، پاره‌شدن کاغذها، چاپ‌هایی با شکل اشتباه…</desc>
  </info>
  <title>مشکلات چاپگر</title>
</section>

</page>
