<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="tip" id="user-admin-explain" xml:lang="fa">

  <info>
    <link type="guide" xref="user-accounts#privileges"/>

    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision version="gnome:42" status="final" date="2022-02-26"/>

    <credit type="author">
      <name>پروژهٔ مستندسازی گنوم</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>اکاترینا گراسیموفا</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
        <credit type="editor">
      <name>مایکل هیل</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>برای دگرگونی بخش‌های مهم سامانه‌تان نیاز به امتیازهای مدیریتی دارید.</desc>
  </info>

  <title>امتیازهای مدیریتی چگونه کار می‌کنند؟</title>

  <p>افزون بر پرونده‌هایی که <em>شما</em> می‌سازید، رایانه‌تان تعدادی پرونده داشته که برای کار کردن درست سامانه لازمند. اگر این <em>پرونده‌های سامانه‌ای </em> مهم به اشتباه تغییر یابند می‌توانند چیزهای مختلفی را خراب کنند. بنابراین به صورت پیش‌گزیده در برابر دگرگونی محافظت شده‌اند. همچنین برنامه‌هایی خاص می‌توانند بخش‌های مهمی از سامانه را تغییر داده که آن‌ها نیز محافظت شده‌اند.</p>

  <p>روش محافظتشان با دادن اجازهٔ تغییر یا استفاده از برنامه‌ها فقط به کاربرانی با <em>امتیازهای مدیریتی</em> است. در استفادهٔ روزمره نیاز به تغییر هیچ پروندهٔ سامانه‌ای یا استفاده از این برنامه‌ها نداشته و بنابراین نیازی به امتیازهای مدیریتی ندارید.</p>

  <p>گاهی لازم است از این برنامه‌ها استفاده کنید. پس می‌توانید به طور موقّتی امتیازهای مدیریتی را گرفته تا بتوانید تغییراتی ایجاد کنید. اگر برنامه‌ای امتیازهای مدیریتی بخواهد، گذرواژه‌تان را خواهد پرسید. برای نمونه اگر بخواهید نرم‌افزار جدیدی نصب کنید، نصب‌کنندهٔ نرم‌افزار (مدیر بسته) برای این که بتواند برنامهٔ جدید را به سامانه بیفزاید درخواست گذرواژه خواهد کرد. پس از پایان این کار، دوباره امتیازهای مدیریتیتان گرفته خواهد شد.</p>

  <p>امتیازهای مدیریتی با حساب کاربریتان عجین شده است. کاربران <gui>مدیر</gui> اجازهٔ داشتن چنین امتیازهایی را داشته، در حالی که کاربران <gui>استاندارد</gui> ندارند. بدون امتیازهای مدیریتی قادر نخواهید بود نرم‌افزار نصب کنید. برخی حساب‌های کاربری (چون حساب root) امتیازهای مدیریتی همیشگی دارند. نباید همیشه از امتیازهای مدیریتی استفاده کنید،‌چرا که ممکن است به اشتباه چیزی را که نمی‌خواستید تغییر دهید (چون حذف یک پروندهٔ‌ سامانه‌ای ضروری).</p>

  <p>به طور خلاصه امتیازهای مدیریتی می‌گذارند بخش‌های مهم سامانه‌تان را هنگام نیاز تغییر داده، ولی از انجام تصادفیش جلوگیری می‌کنند)</p>

  <note>
    <title>معنی «ابرکاربر» چیست؟</title>
    <p>کاربری با امتیازهای مدیریتی گاهی <em>ابَرکاربر</em> نامیده می‌شود. به این خاطر که امتیازهای بیش‌تری از کاربران عادی دارد. ممکن است ببینید افرادی در بارهٔ چیزهایی چون <cmd>su</cmd> و <cmd>sudo</cmd> صحبت می‌کنند. این‌ها برنامه‌هایی برای دادن موقّتی امیتازهای «ابَرکاربر» (مدیریتی) هستند.</p>
  </note>

<section id="advantages">
  <title>چرا دسترسی‌های مدیریتی مفیدند؟</title>

  <p>نیاز به داشتن امتیازهای مدیریتی پیش از انجام دگرگونی‌های سامانه‌ای مهم مفید است چرا که به پیشگیری از خراب شدن عمدی یا غیرعمدی سامانه‌تان کمک می‌کند.</p>

  <p>اگر همیشه امتیازهای مدیریتی داشته باشید ممکن است به صورت تصادفی پرونده‌های مهم را تغییر داده یا برنامه‌ای را که چیزی مهم را تغییر می‌دهد به طور تصادفی اجرا کنید. گرفتن امتیازهای مدیریتی موقّتی تنها هنگام نیاز، خطر رخ دادن این اشتباه‌ها را می‌کاهد.</p>

  <p>تنها کاربران مورد اطمینان مشخّصی باید اجازهٔ داشتن امتیازهای مدیریتی را داشته باشند. این کار از درگیر شدن دیگر کاربران با رایانه و انجام کارهایی چون حذف نصب برنامه‌هایی که نیاز دارید، نصب برنامه‌هایی که نمی‌خواهید یا تغییر پرونده‌های مهم جلوگیری می‌کند. چنین کاری از دیدگاه امنیتی مفید است.</p>

</section>

</page>
