<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="color-why-calibrate" xml:lang="th">

  <info>
    <link type="guide" xref="color#calibration"/>
    <desc>Calibrating is important if you care about the colors you display or print.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Why do I need to do calibration myself?</title>

  <p>
    Generic profiles are usually bad.
    When a manufacturer creates a new model, they just take a few items
    from the production line and average them together:
  </p>

  <media its:translate="no" type="image" src="figures/color-average.png">
    <p its:translate="yes">Averaged profiles</p>
  </media>

  <p>
    Display panels differ quite a lot from unit to unit and change
    substantially as the display ages.
    It is also more difficult for printers, as just changing the type
    or weight of paper can invalidate the characterization state and
    make the profile inaccurate.
  </p>

  <p>
    The best way of ensuring the profile you have is accurate is by doing
    the calibration yourself, or by letting an external company supply
    you with a profile based on your exact characterization state.
  </p>

</page>
