<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="user-settings" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="index" group="user-settings"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="power-dim-screen">Escureça a tela</link>, <link xref="lockdown-online-accounts">permita e proíba contas on-line</link>, <link xref="lockdown-printing">desabilite impressão</link>…</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2017-2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leônidas Araújo</mal:name>
      <mal:email>leorusvellt@hotmail.com</mal:email>
      <mal:years>2023</mal:years>
    </mal:credit>
  </info>

  <title>Configurações de usuário</title>

<!--<section id="default">
  <title>Pre-seed user defaults</title>
  <links style="2column" type="topic"/>
</section>

<section id="email">
  <title>Set up email and calendar</title>
  <links style="2column" type="topic"/>
</section>-->

<section id="lockdown">
  <title>Configurações de bloqueio</title>
  <links style="2column" type="topic"/>
</section>

</page>
